@import "../lib/mixins";
@import "../lib/sprite";

=transition
	transition: 0.2s ease-in-out

// all style
// ===============================================
#checkoutLog, #checkoutMail, #checkoutForgot, #checkoutPass, #checkoutPay, #checkoutPayForm
	display: none

// 
// ===============================================
.wishroundCheckoutPopup
	// .md-overlay
	.md-content
		width: 100%
		max-width: 100%
		min-width: 300px
		margin: 0px auto 0px
		padding: 30px 40px 0
		box-sizing: border-box
		box-shadow: none
		overflow: hidden
		background: #fff
		border-radius: 2px
		position: relative
	.md-close.fa
		width: 36px
		font-size: 36px
		padding: 13px
		margin-top: 0
		margin-left: auto
		margin-right: auto
		position: absolute
		color: #a7adb5
		cursor: pointer
		-webkit-transition: -webkit-transform 0.3s linear
		transition: transform 0.3s linear
		text-align: center
		top: 0
		right: 0
		outline: none
		&:hover
			-webkit-transform: rotate(90deg)
			-ms-transform: rotate(90deg)
			transform: rotate(90deg)

// Loader popup
// ===============================================
#checkoutLoader
	height: 365px
	text-align: center
	.fa-spinner
		-webkit-animation: spin 1.75s infinite linear
		animation: spin 1.75s infinite linear
		font-size: 120px
		color: #00bf5f
		position: absolute
		top: 50%
		left: 50%
		margin-top: -60px
		margin-left: -60px
// 
// ===============================================
#checkoutLog
	max-width: 375px
	height: 335px
	margin: 0 auto 
	text-align: center
	.checkout-log 
		margin-top: 80px
		margin-bottom: 20px
		font-size: 18px
		font-weight: 700
		color: #55606e  
	.checkout-fb
		display: block
		padding: 19px 13px 18px
		border-radius: 2px
		font-size: 18px
		+transition
		text-decoration: none
		margin-bottom: 28px
		font-weight: 600
		font-size: 18px 
		border: 1px solid #3f67bc
		color: #fff
		background: #3f67bc
		&:hover
			background-color: #fff
			border-color: #3f67bc
			color: #3f67bc
		&:active
			transform:scale(0.95)
		span, .fa
			display: inline-block
			vertical-align: middle
		.fa
			font-size: 24px
	.checkout-log-list
		padding-bottom: 50px
		font-size: 0
		text-align: center
		li
			display: inline-block
			vertical-align: middle
			font-size: 14px
			margin-left: 25px
			&:first-child
				margin-left: 0
		a
			display: block
			font-size: 0
			text-decoration: none
			color: #4a94f9
			+transition
			&:hover
				color: #3f67bc
			.fa
				display: inline-block
				vertical-align: middle
				font-size: 24px
				margin-right: 8px
			span
				font-size: 14px
				display: inline-block
				vertical-align: middle
	
// 
// ===============================================
#checkoutMail
	.checkoutmail-top
		position: relative
	.fa-arrow-left
		position: absolute
		top: 11px
		left: 5px
		cursor: pointer
		color: #4a94f9
	.checkoutmail-title
		margin-bottom: 40px
		padding-top: 12px
		text-align: center
		font-size: 18px
		font-weight: 700 
	.checkoutmail-row
		margin-top: 30px
		&:first-child
			margin-top: 0
		.forgot-pass
			position: absolute
			top: 50%
			margin-top: -9px
			right: 20px
			z-index: 999
			font-size: 18px
			color: #4a94f9
			cursor: pointer
			&:hover
				text-decoration: underline
// 
// ===============================================
#checkoutForgot
	.checkoutforgot-top
		position: relative
		.fa-arrow-left
			position: absolute
			top: 11px
			left: 5px
			cursor: pointer
			color: #4a94f9
		.checkoutforgot-title
			margin-bottom: 40px
			padding-top: 12px
			text-align: center
			font-size: 18px
			font-weight: 700
	.checkoutforgot-form
		margin-top: 93px
		padding-bottom: 60px
		.checkoutforgot-row
			margin-top: 30px
			&:first-child
				margin-top: 0
// 
// ===============================================
.checkoutsend
	.checkoutsend-title
		margin-top: 14px
		margin-bottom: 95px
		font-size: 18px
		font-weight: 700
		color: #55606e
		text-align: center
	.checkoutsend-meta
		font-size: 18px
		line-height: 28px
		color: #bdc1c6
		text-align: center
		span
			margin: 0
	.btn-success
		margin-top: 20px
		margin-bottom: 70px

// 
// ===============================================
#checkoutPay
	.checkoutpay-head
		margin: -10px -40px 0 -40px
		text-align: center
		border-bottom: 1px solid #dfe9f1
		img
			margin-bottom: 5px
			display: inline-block
		.checkoutpay-meta
			margin-bottom: 23px
			font-size: 16px
			color: #55606e 
	.checkoutpay-content
		&.is-money-left
			.checkoutpay-money-left
				display: block
	.checkoutpay-l
		margin: 40px 0
		font-size: 0
		.checkoutpay-col1
			width: 209px
			display: inline-block
			vertical-align: middle
			font-size: 0
		.checkoutpay-col2
			width: 169px
			display: inline-block
			vertical-align: middle
			text-align: right
	.checkoutpay-media
		display: inline-block
		vertical-align: middle
		width: 80px
		height: 80px
		margin-right: 10px
		border-radius: 50%
		overflow: hidden
		img
			display: block
			width: auto
			height: auto
			max-width: 100%
			max-height: 100%
	.checkoutpay-name
		max-width: 119px 
		display: inline-block
		vertical-align: middle
		font-size: 12px
		line-height: 20px
		font-weight: 700
		color: #333
	.checkoutpay-note
		margin-bottom: 10px
		font-size: 10px
		font-weight: 700
		text-transform: uppercase
		color: #bdc1c6 
	.checkoutpay-price
		font-size: 28px
		font-weight: 700 
		color: #55606e
	.checkoutpay-money-left
		display: none
		margin-bottom: 20px
		font-size: 14px
		color: #333
		text-align: center 

// 
// ===============================================
#checkoutPayForm
	margin: 0 -40px
	.checkoutform-top
		padding-bottom: 35px
		margin: 0
		border-bottom: 1px solid #dfe9f1
		text-align: center
		.heckoutform-meta
			font-size: 16px
			color: #55606e 
	.payment
		.payment-form
			width: 374px
			margin: 0px auto 0px
		.payment-row
			margin-bottom: 32px
			&.m-ssl
				margin-top: 0
				margin-bottom: 0
		.payment-label
			&.m-50
				width: 172px
				&:first-child
					margin-right: 30px
		.payment-ssl
			.payment-ssl-meta
				margin-left: 0
	.tooltip-card-error
		display: none
		opacity: 0
		max-width: 380px
		min-width: 340px
		box-shadow: 0 0 80px rgba(135, 155, 182, 0.4)
		padding: 15px 15px
		position: absolute
		top: 0
		left: 100%
		margin-left: 15px
		margin-top: -14px
		z-index: 1888
		text-align: left
		font-size: 14px
		font-weight: 400
		line-height: 18px
		color: #55606e
		background: #fdf1d7
	.tooltip-cvv-error
		display: none
		opacity: 0
		max-width: 380px
		min-width: 340px
		box-shadow: 0 0 80px rgba(135, 155, 182, 0.4)
		padding: 15px 15px
		position: absolute
		top: 100%
		left: 0
		margin-top: 15px
		z-index: 1888
		text-align: left
		font-size: 14px
		font-weight: 400
		line-height: 18px
		color: #55606e
		background: #fdf1d7
#checkout-payment-form
	width: 100%
	height: 475px
	border: 0





