%btn
	display: inline-block
	padding: 19px 13px 18px
	border-radius: 2px
	font-size: 18px
	// +transition
	transition: 0.2s transform linear, 0.2s color linear, 0.2s background-color linear, 0.2s border-color linear
	+ossb
	text-decoration: none
	&:active
		transform:scale(0.95)
	.fa
		font-size: 24px

.btn-center
	text-align: center

.btn-success
	@extend %btn
	border: 1px solid #00bf5f
	color: #fff
	background: $green
	&:hover
		background-color: #fff
		border-color: $green
		color: $green
	span, .fa
		display: inline-block
		vertical-align: middle

.btn-danger
	@extend %btn
	border: 1px solid #ff3a3a
	color: #fff
	background: #ff3a3a
	&:hover
		background-color: #fff
		border-color: #ff3a3a
		color: #ff3a3a
	span, .fa
		display: inline-block
		vertical-align: middle

.btn-primary
	@extend %btn
	border: 1px solid #4a94f9
	color: #fff
	background: #4a94f9
	&:hover
		background-color: #fff
		border-color: #4a94f9
		color: #4a94f9
	span, .fa
		display: inline-block
		vertical-align: middle

.btn-primary2
	@extend %btn
	border: 1px solid #3f67bc
	color: #fff
	background: #3f67bc
	&:hover
		background-color: #fff
		border-color: #3f67bc
		color: #3f67bc
	span, .fa
		display: inline-block
		vertical-align: middle

.btn-success + span
	margin-right: 9px

.btn-muted
	@extend %btn
	border: 1px solid #aec5d7
	background-color: #fff
	color: $blue
	&:hover
		background: $green
		border-color: $green
		color: #fff

.btn-transparent
	@extend %btn
	border: 1px solid #fff
	background-color: transparent
	color: #fff
	&:hover
		background: #fff
		color: $blue

.btn-block
	display: block
	text-align: center

.btn-square
	padding: 16px 13px
	background: #00bf5f
	background: none 
	border-color: #00bf5f
	border-radius: 3px
	position: relative
	z-index: 1
	-webkit-backface-visibility: hidden
	-moz-osx-font-smoothing: grayscale
	transition: color 0.3s
	color: #fff
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-radius: inherit
		z-index: -1
		box-shadow: inset 0 0 0 40px #00bf5f 
		transition: box-shadow 0.3s, transform 0.3s
	&:hover
		color: #00bf5f 
		&:before
			box-shadow: inset 0 0 0 1px #00bf5f
	&:active
		&:before
			transform: scale3d(0.97, 0.97, 1)
	.fa 
		font-size: 24px

// btn-block
.btn-wrap
	height: 60px
	position: relative
	text-align: left
	font-size: 0
	.btn-back, .btn-next, .btn-preview
		display: inline-block
		position: relative
		text-align: center
		text-decoration: none
		transition: 0.2s background linear
		&:before
			margin-left: -10px
			margin-top: -14px
			font-family: "FontAwesome", Arial, Helvetica, sans-serif
			font-size: 24px
			color: #fff
			position: absolute
			top: 50%
			left: 50%
			transition: color 0.2s
		&:hover
			background: transparent
	.btn-back
		width: 58px
		height: 58px
		border: 1px solid #dfe9f1
		background: #dfe9f1
		border-radius: 2px 0 0 2px
		&.is-load
			&:before
				content: "\f110"
				-webkit-animation: spin 1s infinite linear
				animation: spin 1s infinite linear
		&:before
			content: "\f060"
		&:hover
			&:before
				color: #dfe9f1
	.btn-next
		width: 378px
		height: 58px
		margin: 0 1px
		background: #00bf5f
		border: 1px solid #00bf5f
		z-index: 666
		&.is-load
			&:before
				content: "\f110"
				-webkit-animation: spin 1s infinite linear
				animation: spin 1s infinite linear
		&:hover
			// transform: scale3d(1.03,1.03,1)
			border-color: #00bf5f
			background: #fff 
			&:before
				color: #00bf5f
		&:before
			content: "\f061"
		&:after
			content: ""
			width: 1px
			background: #fff
			position: absolute
			top: -1px
			bottom: -1px
			right: -2px
	.btn-preview
		width: 177px
		height: 58px
		background: #4a94f9
		border: 1px solid #4a94f9
		border-radius: 0 2px 2px 0
		position: absolute
		top: 0
		right: 0
		text-decoration: none
		&:before
			content: "\f06e"
			left: inherit
			margin-left: 0 
			right: 18px
			margin-right: 0
		&:hover
			background: #4a94f9
			right: -118px
			&:before
				color: #fff
		span
			width: 111px
			border-right: 1px solid #fff
			padding: 23px 0
			line-height: 1.2
			position: absolute
			left: 0
			top: -1px
			font-size: 12px
			+ossb
			text-decoration: none
			color: #fff

.btn-warning
	@extend %btn
	padding: 26px 13px 26px
	border-radius: 41px
	background: #fbc647
	border: 3px solid #fbc647
	border-bottom-color: #ebbf4a
	font-size: 20px
	font-weight: 700 
	color: #fff
	&:hover
		background: transparent
		border-color: #ebbf4a 
		color: #ebbf4a


.btn-info
	@extend %btn
	border: 1px solid #a7adb5
	color: #fff
	background: #a7adb5
	&:hover
		background-color: #fff
		color: #a7adb5

.show-768
	display: none !important
.custom-btn
	display: inline-block
	vertical-align: middle
	margin-top: 6px
	margin-right: 24px
	
