//
// ===============================================
$blue: #55606e
$green: #00bf5f
$red: #e75d66

// =transition
// 	transition: 0.2s all linear

%wrap
	width: 1180px
	padding: 0 10px  
	margin-left: auto
	margin-right: auto

.nav-overlay
	display: none
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background: rgba(#fff, .78)
	z-index: 2222
	
.lang-overlay, .user-overlay
	display: none
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 666
	&.is-active
		display: block

.lang
	width: 70px
	background: #fff 
	position: relative
	z-index: 777
	.lang-select
		span
			padding: 10px

.hide480
	font-style: normal

.open-960
	display: none

.clear
	+clr

.fa-currency
	font-family: "Open Sans", sans-serif
	font-weight: 600 

//	GENERAL
// ===============================================
html, body
	height: 100%
	.out
		min-height: 100%
		height: auto !important
		height: 100%

html
	&.is-popup
		overflow: hidden !important

body
	min-width: 960px
	+os
	font-size: 24px 
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: antialiased
	+selection
		background: #4a94f9
		color: #FFF 
	&.m-index
		min-width: 1100px
	// logics loader page
	&.m-merch
		min-width: 1200px
	&.is-load
		.out, .footer
			// display: none
			visibility: hidden //
		#preloader
			display: block
	&.is-overlay
		.nav-overlay
			display: block
	&.is-popup
		overflow: hidden !important
		height: auto  !important
		// .nav-overlay
		// 	z-index: 22000
		
#wrapper
	height: 100%
	&.is-load
		visibility: hidden //

body
	&.m-desktop
		min-width: 1200px 

.h2
	font-size: 36px
	+osl
	color: $blue
	text-shadow: 1px 1px 1px #fff

.h3
	color: $blue
	+osl
	font-size: 26px
	text-shadow: 1px 1px 1px #fff

.cool-bg
	padding: 50px 0
	background: #dfe9f1
	&.m-center
		text-align: center
	.cool-bg-in
		@extend %wrap

.align-center
	text-align: center

.align-right
	text-align: right

/// !!!
.slick-slide img
	max-height: 100% 
	
.shop .shop-item a, .shop .shop-item span
	height: 75px

.shop .shop-item span
	display: inline-block
	vertical-align: middle
/// !!!


.index
	.header-btn
		-webkit-transform:translate3d(0,0,0)
		&.is-load
			position: relative
			// z-index: -1
			.fa
				display: block
				font-size: 14px
				line-height: 1
				-webkit-animation: spin 1s infinite linear
				animation: spin 1s infinite linear
				position: absolute
				top: 50%
				left: 50%
				margin-top: -8px
				margin-left: -8px
			span
				opacity: 0
		.fa
			display: none

.header-absolute
	header
		position: absolute

// HEADER
// ===============================================
.logo
	height: 43px
	+hide-text
	float: left

.logo-white
	float: left
	// +s($s-logo-part)


.usernav
	.usernav-user
		margin-top: 20px
		margin-bottom: 20px
		.usernav-ava
			width: 50px
			height: 50px
			margin: 0 auto 5px
			border-radius: 50%
			overflow: hidden
			img
				width: 100%
		.usernav-fio
			font-size: 14px
			line-height: 19px
			color: #55606E 
		.usernav-money
			margin-bottom: 1px
			font-size: 14px
			line-height: 19px
			.usernav-money-meta
				display: inline-block
				vertical-align: middle
				font-size: 14px
				line-height: 19px
				color: #55606E
			.usernav-money-price
				display: inline-block
				vertical-align: middle
				font-size: 18px
				line-height: 19px
				font-weight: 700 
				color: #55606E 
	.usernav-settings
		font-size: 0
		margin-bottom: 25px
		.wishsettings-item
			padding: 0 // reset style for link
			font-weight: 400 // reset style for link
			display: inline-block
			vertical-align: top
			width: 145px
			height: 100px
			line-height: 100px
			font-size: 14px
			text-align: center
			position: relative
			transition: 0.2s background linear
			text-decoration: none
			cursor: pointer
			&:before
				+FontAwesome
				font-size: 32px
				line-height: 1
				color: #00bf5f
				transition: 0.2s color linear
			&:hover
				background: #eff4f8
				&:before
					color: #4a94f9
				.wishsettings-descr
					color: #4a94f9
			&.m-ask
				&:before
					content: "\f234"
					position: absolute
					top: 10px
					left: 50%
					margin-left: -16px
				.wishsettings-descr
					padding-top: 55px
			&.m-modify
				&:before
					content: "\f013"
					position: absolute
					top: 10px
					left: 50%
					margin-left: -13px
				.wishsettings-descr
					padding-top: 55px
			.wishsettings-descr
				padding: 11px 0
				text-align: center
				font-size: 12px
				line-height: 17px
				font-weight: 700
				color: #333
				transition: 0.2s color linear
	a.usernav-logout
		display: inline-block !important
		padding: 0 !important
		margin-bottom: 15px
		span
			margin-right: 5px
			display: inline-block
			vertical-align: middle
			font-size: 12px
			line-height: 17px
			color: #CDDCE8
			font-weight: 700  
		.header-logout
			+FontAwesome
			font-size: 20px
			color: #CDDCE8
			display: inline-block !important
			vertical-align: middle
			margin: 0
			margin-left: 0 !important
			padding: 0

header
	min-width: 960px
	padding-top: 8px
	padding-bottom: 8px
	
	position: fixed
	top: 0
	left: 0
	right: 0

	background: #fff
	box-shadow: 0px 6px 4px rgba(#9fc3d9, .2)
	transition: padding 0.5s linear
	z-index: 3333
	&.m-merch
		min-width: 1200px //
		background: transparent
		font-size: 0
		box-shadow: none
		position: absolute
		.header-in
			// padding: 10px 0
			padding: 10px
		.nav
			.nav-list
				margin-top: 4px
				margin-left: -22px
				li
					margin-left: 35px
					&:first-child
						margin-left: 0
					a
						color: #fff
						transition: 0.2s color linear
						&:hover
							color: #0db882
		.connect
			float: right
			margin-top: 1px
			margin-right: 15px
			padding: 8px 32px 7px
			font-size: 16px
			line-height: 26px
			text-decoration: none
			border: 2px solid #fff
			border-radius: 21px
			color: #fff
			font-weight: bold
			transition: 0.2s background linear, 0.2s color linear
			&:hover
				background: #fff
				color: inherit
	.header-in
		@extend %wrap
		+clr
		// overflow: hidden
		position: relative
	.header-right
		float: right
		font-size: 0
		height: 44px
		line-height: 44px
		// position: relative //
		z-index: 10 //
		*
			line-height: 1.2 
		.user-login
			float: none
	.user-login
		display: inline-block
		vertical-align: middle
		margin-left: 10px
	.header-btn
		padding: 5px 18px
		border-radius: 15px
		font-size: 14px
		display: inline-block
		vertical-align: middle
		background: #fbc647
		color: #fff
		font-weight: 700 
		text-decoration: none
		border: 2px solid #fbc647
		transition: 0.2s background linear, 0.2s color linear
		&.m-invert
			background: #fff
			color: #fbc647
			&:hover
				background: #fbc647
				color: #fff  
		&:hover
			background: #fff
			color: #fbc647   
	.header-logout
		margin-left: 30px
		font-size: 16px
		display: inline-block
		vertical-align: middle
		font-size: 30px
		color: #bdc1c6
		transition: 0.2s color linear
		// -webkit-transform:translate3d(0,0,0)
		// -webkit-transform: none
		// -ms-transform: none
		// transform: none
		&:hover
			color: #00bf5f 

.user-login
	float: right
	&.is-open
		.user-login-title .fa
			&:before
				content: "\f0d8"
	& > a
		display: block
		text-decoration: none
	.user-login-ava
		display: inline-block
		vertical-align: middle
		width: 30px
		height: 30px
		border-radius: 50%
		+cover
		margin-right: 10px
	.user-login-title
		height: 31px
		display: inline-block
		vertical-align: middle
		font-size: 14px
		color: #55606e
		font-weight: 400
		span
			display: inline-block
			vertical-align: middle
			max-width: 115px
			+text-overflow 
		.fa
			margin-left: 10px
			font-family: "FontAwesome", Arial, Helvetica, sans-serif
			font-size: 24px
			line-height: 1
// FOOTER
// ===============================================
footer
	box-shadow: 0 -4px 6px rgba(159,195,217,.2)
	transition: 0.3s padding ease-in-out
	.footer-in
		padding-top: 33px
		padding-bottom: 28px
		@extend %wrap
	.footer-row
		+clr
	.footer-left
		width: 530px
		float: left
		line-height: 24px
	.footer-center
		width: 270px
		float: left
		line-height: 18px
		text-align: center
	.footer-right
		width: 380px
		height: 24px
		float: right
		line-height: 18px
		+clr
	.footer-nav
		ul
			+clr
		li
			float: left
			list-style: none
			margin-left: 20px
			&:first-child
				margin-left: 0
			.fa-mobile, .fa-desktop
				margin-right: 5px
				font-size: 21px
				display: inline-block
				vertical-align: middle
			.fa-desktop
				font-size: 16px
		a
			display: block
			font-size: 12px
			font-weight: 700 
			color: #34536c
			text-decoration: none
			&:hover
				text-decoration: underline
	.footer-social
		ul
			text-align: center
		li
			display: inline-block
			vertical-align: middle
			margin-left: 25px
			list-style: none
			&:first-child
				margin-left: 0
		a
			display: block
			color: #a7adb5
			font-size: 18px
			// line-height: 24px
			transition: 0.2s color linear
			&:hover
				color: #4a94f9
	.footer-select-lang
		margin-right: 80px
		float: right
		.footer-select-lang-media
			width: 36px
			height: 36px
			border-radius: 50%
			margin-right: 8px
			border: 1px solid #dfe9f1
			overflow: hidden
			position: absolute
			top: 50%
			left: 0
			margin-top: -19px
			img
				width: 100%
		.footer-select-lang-item
			width: 100px
			position: relative
			cursor: pointer
			span
				padding-left: 50px
				display: inline-block
				vertical-align: middle
				font-size: 12px
				color: #55606e
				font-weight: 700  
	.footer-lang
		float: right
		cursor: pointer
		position: relative
		&.is-click
			.fa-caret-up
				&:before
					content: "\f0d7"
		span
			margin-right: 3px
			font-size: 12px
			font-weight: 700
			color: #55606e 
			display: inline-block
			vertical-align: middle 
		.fa
			display: inline-block
			vertical-align: middle
			font-size: 24px
			color: #55606e
		.tooltip-open
			right: 0px
			bottom: 32px
			padding: 0
			border-radius: 3px
			border: 1px solid #4a94f9
			a
				display: block
				padding: 10px 20px
				font-size: 14px
				text-decoration: none
				color: #55606e
				cursor: pointer
				font-weight: 400
				&:hover
					color: #00bf5f

// NAV
// ===============================================
.nav-mobile
	display: none
	width: 24px
	height: 21px
	position: absolute
	top: 50%
	margin-top: -10px
	right: 10px
	transition: 0.2s transform ease
	cursor: pointer
	z-index: 1111
	&.is-active
		transform: rotate(90deg)
	i
		margin-top: 4px
		display: block
		width: 24px
		height: 4px
		border-radius: 2px 
		background: $blue
		&:first-child
			margin-top: 0

.nav-enter
	position: absolute
	top: 4px
	right: 100px
	background: #fff 
	padding: 8px
	font-size: 16px
	text-align: right
	color: $blue
	font-weight: 700
	text-decoration: none

.nav
	// overflow: hidden //
	+clr
	text-align: center
	.nav-list
		width: 620px
		// margin-left: 27px //
		text-align: center
		display: inline-block
		vertical-align: middle
		+clr
		li
			display: inline-block
			&:first-child
				margin-left: 0
		a
			display: block
			padding: 12px 15px
			font-size: 16px
			color: $blue
			+osb
			text-decoration: none
			transition: 0.2s color linear
			&:hover
				color: $green
			&.enter
				margin-top: -3px
				padding: 12px 18px
				&:hover
					color: #fff

.enter
	border: 2px solid #aec5d7
	padding: 12px 18px
	font-size: 16px
	color: $blue
	+osb
	text-decoration: none
	&:hover
		color: #fff
		background: #00bf5f
		border-color: #00bf5f  

.lang
	float: right
	text-align: right
	&.is-open
		.lang-subnav
			height: 112px
			border-width: 1px
			border-color: #4a94f9
			&.m-two
				height: 72px
			span
				padding: 10px 20px
		.fa-caret-down
			&:before
				content: "\f0d8"
	.lang-select
		position: relative
		& > span
			display: block
			padding: 10px 20px 10px 10px
			display: inline-block
			vertical-align: middle
			font-size: 14px
			color: $blue
			font-weight: 400
			text-decoration: none
			cursor: pointer
			position: relative
			z-index: 100
		.fa
			content: ""
			position: absolute
			top: 6px
			right: 0px
			font-size: 24px
			color: #55606e

.lang-subnav, .user-subnav
	border: 1px solid #4a94f9
	border-radius: 3px
	background: #FFF
	position: absolute
	top: 100%
	right: 0
	box-shadow: 0 0 80px rgba(135,155,182,.4)
	li
		text-align: left
		&.is-active
			span
				color: $green
	span, a
		display: block
		padding: 10px 20px
		transition: 0.2s padding linear, 0.2s color linear
		font-size: 14px
		text-decoration: none
		color: $blue
		cursor: pointer
		font-weight: 400 
		&:hover
			color: $green
			
.user-subnav
	z-index: 999 
	&.is-open
		// height: 72px
		// &.is-three
			// height: 108px
		span
			padding: 10px 20px


.nav
	li.m-enter
		display: none !important
	li.m-mobile-lang
		display: none
		span
			display: block
			padding: 9px 0
			font-size: 14px
			color: $blue
			cursor: pointer
			+osb
			&:after
				content: "\f0d7"
				margin-left: 7px
				display: inline-block
				vertical-align: middle
				font-family: "FontAwesome", Arial, Helvetica, sans-serif
				font-size: 18px
		li
			display: block
			text-align: center
			font-weight: 400
			&.is-active
				div
					color: #00bf5f
			a
				padding: 6px 0
				font-size: 14px
				color: $blue
				font-weight: 400
				cursor: pointer

// SLIDER
// ===============================================
.slider
	width: 100%
	padding-top: 60px
	height: 720px
	overflow: hidden
	color: #fff
	position: relative
	.slider-items
		width: 100%
	.slider-item
		width: 100%
		height: 720px
		overflow: hidden
		position: relative
		&.slick-active
			.slider-title
				transform: translate3d(0, 0px, 0)
				opacity: 1
			.slider-descr
				transform: translate3d(0, 0px, 0)
				opacity: 1
		&.first-slide
			.slider-bg
				background: rgb(96,86,189)
				background: -moz-linear-gradient(-45deg,  rgba(96,86,189,1) 0%, rgba(195,130,205,1) 100%)
				background: -webkit-linear-gradient(-45deg,  rgba(96,86,189,1) 0%,rgba(195,130,205,1) 100%)
				background: linear-gradient(135deg,  rgba(96,86,189,1) 0%,rgba(195,130,205,1) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6056bd', endColorstr='#c382cd',GradientType=1 )
			.slider-cat
				width: 985px
				height: 275px
				background: url("../img/svg/cat-desktop-slide1.svg")
				position: absolute
				bottom: 0
				left: 50%
				margin-left: -492px
			.slider-item-ico1
				width: 52px
				height: 51px
				background: url("../img/svg/index-slide-ico1.svg")
				position: absolute
				top: 160px
				left: 54px
				opacity: 0.2 
			.slider-item-ico2
				width: 33px
				height: 32px
				background: url("../img/svg/index-slide-ico2.svg")
				position: absolute
				top: 138px
				left: 320px
				opacity: 0.15
			.slider-item-ico3
				width: 53px
				height: 70px
				background: url("../img/svg/index-slide-ico3.svg")
				position: absolute
				top: 10px
				left: 50%
				margin-left: -25px
			.slider-item-ico4
				width: 52px
				height: 51px
				background: url("../img/svg/index-slide-ico4.svg")
				position: absolute
				top: 101px
				right: 340px
				opacity: 0.15
			.slider-item-ico5
				width: 110px
				height: 98px
				background: url("../img/svg/index-slide-ico5.svg")
				position: absolute
				top: 240px
				left: 180px
			.slider-item-ico6
				width: 81px
				height: 107px
				background: url("../img/svg/index-slide-ico6.svg")
				position: absolute
				top: 273px
				right: 230px
			.slider-item-ico7
				width: 51px
				height: 67px
				background: url("../img/svg/index-slide-ico7.svg")
				position: absolute
				top: 183px
				right: 80px
			.slider-item-ico8
				width: 50px
				height: 53px
				background: url("../img/svg/index-slide-ico8.svg")
				position: absolute
				bottom: 183px
				left: 56px
				opacity: 0.15 
			.slider-item-ico9
				width: 51px
				height: 52px
				background: url("../img/svg/index-slide-ico9.svg")
				position: absolute
				bottom: 255px
				left: 341px
				opacity: 0.15 
			.slider-item-ico10
				width: 35px
				height: 33px
				background: url("../img/svg/index-slide-ico10.svg")
				position: absolute
				bottom: 293px
				right: 375px
				opacity: 0.15 
			.slider-item-ico11
				width: 35px
				height: 33px
				background: url("../img/svg/index-slide-ico11.svg")
				position: absolute
				bottom: 283px
				right: 85px
				opacity: 0.15
		&.second-slide
			.slider-bg
				background: rgb(195,130,205)
				background: -moz-linear-gradient(-45deg,  rgba(195,130,205,1) 0%, rgba(96,86,189,1) 100%)
				background: -webkit-linear-gradient(-45deg,  rgba(195,130,205,1) 0%,rgba(96,86,189,1) 100%)
				background: linear-gradient(135deg,  rgba(195,130,205,1) 0%,rgba(96,86,189,1) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c382cd', endColorstr='#6056bd',GradientType=1 )
			.slider-item-l
				height: 100%
				position: relative
				&:before
					width: 373px
					height: 199px
					background: url("../img/svg/cat-desktop-slide2.svg")
					position: absolute
					bottom: 0
					left: 64px
				.slider-item-col1
					width: 550px
				.slider-item-col2
					width: 450px
					text-align: right
			.slider-item-ico1
				width: 52px
				height: 51px
				background: url("../img/svg/index-slide-ico1.svg")
				position: absolute
				top: 160px
				left: 14px
				opacity: 0.2 
			.slider-item-ico2
				width: 33px
				height: 32px
				background: url("../img/svg/index-slide-ico2.svg")
				position: absolute
				top: 48px
				left: 320px
				opacity: 0.15
			.slider-item-ico3
				width: 53px
				height: 70px
				background: url("../img/svg/index-slide-ico3.svg")
				position: absolute
				top: 10px
				left: 50%
				margin-left: -25px
			.slider-item-ico4
				width: 52px
				height: 51px
				background: url("../img/svg/index-slide-ico4.svg")
				position: absolute
				top: 101px
				right: 340px
				opacity: 0.15
			.slider-item-ico6
				width: 81px
				height: 107px
				background: url("../img/svg/index-slide-ico6.svg")
				position: absolute
				bottom: 27px
				right: 76px
			.slider-item-ico7
				width: 51px
				height: 67px
				background: url("../img/svg/index-slide-ico7.svg")
				position: absolute
				top: 183px
				right: -20px
			.slider-item-ico8
				width: 50px
				height: 53px
				background: url("../img/svg/index-slide-ico8.svg")
				position: absolute
				bottom: 183px
				left: 56px
				opacity: 0.15 
			.slider-item-ico9
				width: 51px
				height: 52px
				background: url("../img/svg/index-slide-ico9.svg")
				position: absolute
				bottom: 205px
				left: 641px
				opacity: 0.15 
			.slider-item-ico10
				width: 35px
				height: 33px
				background: url("../img/svg/index-slide-ico10.svg")
				position: absolute
				bottom: 173px
				right: 275px
				opacity: 0.15 
			.slider-item-ico11
				width: 35px
				height: 33px
				background: url("../img/svg/index-slide-ico11.svg")
				position: absolute
				bottom: 283px
				right: 85px
				opacity: 0.15
			.slider-title
				margin-top: 85px
				margin-bottom: 15px
			.btn-warning
				margin-bottom: 15px
		&.third-slide
			.slider-item-ico1
				width: 52px
				height: 51px
				background: url("../img/svg/index-slide-ico1.svg")
				position: absolute
				top: 160px
				left: 54px
				opacity: 0.2 
			.slider-item-ico2
				width: 33px
				height: 32px
				background: url("../img/svg/index-slide-ico2.svg")
				position: absolute
				top: 48px
				left: 320px
				opacity: 0.15
			.slider-item-ico3
				width: 53px
				height: 70px
				background: url("../img/svg/index-slide-ico3.svg")
				position: absolute
				top: 30px
				left: 50%
				margin-left: -25px
			.slider-item-ico4
				width: 52px
				height: 51px
				background: url("../img/svg/index-slide-ico4.svg")
				position: absolute
				top: 41px
				right: 260px
				opacity: 0.15
			.slider-item-ico5
				width: 110px
				height: 98px
				background: url("../img/svg/index-slide-ico5.svg")
				position: absolute
				bottom: 190px
				left: 48%
			.slider-item-ico7
				width: 51px
				height: 67px
				background: url("../img/svg/index-slide-ico7.svg")
				position: absolute
				top: 183px
				right: 40px
			.slider-item-ico8
				width: 50px
				height: 53px
				background: url("../img/svg/index-slide-ico8.svg")
				position: absolute
				bottom: 183px
				left: 56px
				opacity: 0.15 
			.slider-item-ico10
				width: 35px
				height: 33px
				background: url("../img/svg/index-slide-ico10.svg")
				position: absolute
				bottom: 73px
				right: 305px
				opacity: 0.15 
			.slider-item-ico11
				width: 35px
				height: 33px
				background: url("../img/svg/index-slide-ico11.svg")
				position: absolute
				bottom: 283px
				right: 45px
				opacity: 0.15
			.slider-bg
				background: rgb(96,86,189);
				background: -moz-linear-gradient(-45deg,  rgba(96,86,189,1) 0%, rgba(180,138,194,1) 63%, rgba(104,90,191,1) 100%)
				background: -webkit-linear-gradient(-45deg,  rgba(96,86,189,1) 0%,rgba(180,138,194,1) 63%,rgba(104,90,191,1) 100%)
				background: linear-gradient(135deg,  rgba(96,86,189,1) 0%,rgba(180,138,194,1) 63%,rgba(104,90,191,1) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6056bd', endColorstr='#685abf',GradientType=1 )
			.slider-descr
				a
					color: #fff
					text-decoration: underline
				ul
					margin-bottom: 30px
			.slider-item-l
				height: 100%
				position: relative
				&:before
					width: 333px
					height: 172px
					background: url("../img/svg/cat-desktop-slide3.svg")
					position: absolute
					bottom: 0
					left: 64px
				.slider-item-col1
					width: 650px
					position: relative
					&:after
						content: ""
						position: absolute
						top: 115px
						right: -340px
						width: 339px
						height: 433px
						background: url("../img/png/index_sldier_tablet_desktop.png")
						.slider-title
							margin-top: 100px
							margin-bottom: 15px
			// 	.slider-item-col2
			// 		width: 350px
			// 		padding-top: 115px
			// .slider-tablet-img 
			// 	display: inline-block
			// 	width: 339px
			// 	height: 433px
			// 	background: url("../img/png/index_sldier_tablet_desktop.png")
			.slider-title
				margin-top: 100px
				margin-bottom: 15px
			.slider-descr
				margin-bottom: 30px
				
	.slider-item-l
		width: 1000px
		margin: 0 auto
		+clr
		li
			&:before
				content: ""
				width: 8px
				height: 8px
				border-radius: 4px
				background: #fff
				display: inline-block
				vertical-align: middle
				margin-left: 15px
				margin-right: 15px 
	.slider-item-col1
		width: 50%
		float: left
		text-align: left
	.slider-item-col2
		width: 50%
		float: left
		position: relative
		z-index: 10
	.btn-warning
		min-width: 368px
		margin: 0 auto 30px
		padding: 10px 13px 10px
		border-radius: 2px
		font-size: 18px
		line-height: 24px
		position: relative
		z-index: 999
		&.is-load
			position: relative
			text-align: center
			&:before
				content: "\f110"
				+FontAwesome
				width: 24px
				height: 24px
				line-height: 24px
				-webkit-animation: spin 1s infinite linear
				animation: spin 1s infinite linear
				position: absolute
				top: 50%
				left: 50%
				margin-top: -12px
				margin-left: -12px
			span
				opacity: 0 
	.slider-link
		display: block
		font-size: 22px
		line-height: 30px
		color: #fff
		position: relative
		z-index: 100
	.slider-item-in
		width: 800px
		margin: 0 auto
		text-align: center
		position: relative
		z-index: 777
	.slider-bg
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
	.slider-title
		transform: translate3d(0, -150px, 0)
		transition: transform 0.5s ease-out
		opacity: 0
		margin-top: 110px
		margin-bottom: 30px
		font-size: 32px
		line-height: 43px
		cursor: default
		+oseb
	.slider-descr
		max-width: 600px 
		margin: 0 auto 60px
		+osl
		opacity: 0
		transform: translate3d(0, 150px, 0)
		transition: transform 0.5s ease-out
		cursor: default
		font-size: 22px
		font-weight: 400 
		line-height: 30px
		color: #fff
	.slick-dots 
		bottom: 130px
		li
			margin-left: 30px
			&:first-child
				margin-left: 0
			&.slick-active
				button
					background: #fff 
			button
				width: 24px
				height: 24px
				background: rgba(0, 0, 0, 0.25)
	.fa-chevron-left
		position: absolute
		left: 20px
		top: 50%
		margin-top: -60px
		font-size: 30px
		cursor: pointer
		z-index: 100
	.fa-chevron-right
		position: absolute
		right: 20px
		top: 50%
		margin-top: -60px
		font-size: 30px
		cursor: pointer
		z-index: 100
	.pay-system
		margin-top: 180px 
		&.m-mobile
			display: none
			ul
				width: 252px
				margin: 0 auto 15px
				text-align: center
			li
				width: 56px
				height: 56px
				margin-left: 7px
				margin-bottom: 7px
				.pay-system-item
					width: 56px
					height: 56px
					line-height: 56px
					&.ps-visa
						&:before
							width: 50px
							height: 34px
							background: url("../img/png/payment_visa.png")
							-webkit-background-size: 50px 34px 
							-o-background-size: 50px 34px 
							background-size: 50px 34px 
					&.ps-mastercard
						&:before
							width: 36px
							height: 22px
							background: url("../img/png/payment_mastercard.png")
							-webkit-background-size: 36px 22px
							-o-background-size: 36px 22px
							background-size: 36px  22px
					&.ps-privat
						&:before
							width: 50px
							height: 50px
							background: url("../img/png/payment_privat.png")
							-webkit-background-size: 50px 50px 
							-o-background-size: 50px 50px 
							background-size: 50px 50px 
					&.ps-shtuka
						&:before
							width: 42px
							height: 42px
							background: url("../img/png/payment_shtuka.png")
							-webkit-background-size: 42px 42px 
							-o-background-size: 42px 42px 
							background-size: 42px 42px 
					&.ps-easypay
						&:before
							width: 42px
							height: 42px
							background: url("../img/png/payment_easypay.png")
							-webkit-background-size: 42px 42px 
							-o-background-size: 42px 42px 
							background-size: 42px 42px 
					&.ps-ibox
						&:before
							width: 42px
							height: 42px
							background: url("../img/png/payment_ibox.png")
							-webkit-background-size: 42px 42px 
							-o-background-size: 42px 42px 
							background-size: 42px 42px 
					&.ps-monexy
						&:before
							width: 50px
							height: 50px
							background: url("../img/png/payment_monexy.png")
							-webkit-background-size: 50px 50px 
							 -o-background-size: 50px 50px 
							 background-size: 50px 50px  
					&.ps-kyivstar
						&:before
							width: 50px
							height: 50px
							background: url("../img/png/payment_kyivstar.png")
							-webkit-background-size: 50px 50px 
							-o-background-size: 50px 50px 
							background-size: 50px 50px 

		ul
			margin-left: -14px
			font-size: 0
		li
			width: 100px
			height: 100px
			display: inline-block
			vertical-align: middle
			margin-bottom: 15px
			margin-left: 14px
			&:before
				content: none
	.pay-system-item
		display: inline-block
		width: 100px
		height: 100px
		line-height: 100px
		background: #fff
		box-shadow: 0 2px 4px rgba(#000, .5)
		border-radius: 10px
		text-align: center
		&.ps-visa
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 100px
				height: 68px
				background: url("../img/png/payment_visa.png")
				background-size: 100px 68px 
		&.ps-mastercard
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 88px
				height: 53px
				background: url("../img/png/payment_mastercard.png")
				-webkit-background-size: 88px 53px 
				-o-background-size: 88px 53px 
				background-size: 88px 53px 
		&.ps-privat
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 100px
				height: 100px
				background: url("../img/png/payment_privat.png")
				-webkit-background-size: 100px 100px 
				-o-background-size: 100px 100px 
				background-size: 100px 100px 
		&.ps-shtuka
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 75px
				height: 75px
				background: url("../img/png/payment_shtuka.png")
				-webkit-background-size: 75px 
				-o-background-size: 75px 
				background-size: 75px  75px
		&.ps-easypay
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 70px
				height: 70px
				background: url("../img/png/payment_easypay.png")
				-webkit-background-size: 70px 70px 
				-o-background-size: 70px 70px 
				background-size: 70px 70px 
		&.ps-ibox
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 75px
				height: 75px
				background: url("../img/png/payment_ibox.png")
				-webkit-background-size: 75px 75px 
				-o-background-size: 75px 75px 
				background-size: 75px 75px 
		&.ps-monexy
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 75px 
				height: 75px
				background: url("../img/png/payment_monexy.png")
				-webkit-background-size: 75px 75px
				-o-background-size: 75px 75px
				background-size: 75px 75px 
		&.ps-kyivstar
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				width: 75px
				height: 75px
				background: url("../img/png/payment_kyivstar.png")
				-webkit-background-size: 75px 75px 
				-o-background-size: 75px 75px 
				background-size: 75px 75px 



.table
	width: 100%
	height: 100%
	display: table
	.table-cell
		display: table-cell
		vertical-align: middle
// HOW WORK
// ===============================================
#partners.m-plug
	padding-top: 120px

.how-work
	// padding: 120px 0 65px
	padding: 0 0 165px
	background: #FFF 
	&.is-animate
		.how-work-label
			&.m-left, &.m-center, &.m-right
				transform: translate3d(0px, 0px, 0)
				opacity: 1
	&.m-plug
		padding-bottom: 95px
		.how-work-row
			margin-top: 100px
			margin-bottom: 45px
			.how-work-label
				&.m-left
					.how-sel-ico
						img
							margin-top: 35px
		.btn-success
			width: 375px
	&.m-mod
		padding: 0
		.how-work-in
			width: auto
		// .how-sel-ico
		// 	height: 100px
		// 	line-height: 100px
		// 	img
		// 		height: 100%
		.how-sel-title
			margin-bottom: 10px
			font-size: 21px
		.how-sel-cont
			padding: 0 15px
			font-size: 14px
			line-height: 1.4 
	.how-work-in
		@extend %wrap
	.h2
		margin-bottom: 90px
		text-align: center
	.h3
		text-align: center
		&.m-cooperation
			margin-top: 50px
			margin-bottom: 50px
	.how-work-row
		+clr
		&.m-center
			text-align: center
			padding-bottom: 0
	.how-work-label
		width: 33.33%
		min-height: 1px 
		float: left
		&.m-left, &.m-center, &.m-right
			opacity: 0.6
			transition: transform 0.5s ease-out
		&.m-left
			transform: translate3d(-50px, 0px, 0)
		&.m-center
			transform: translate3d(0px, 50px, 0)
		&.m-right
			transform: translate3d(50px, 0px, 0)

.how-sel
	color: $blue
	text-align: center
	.how-sel-ico
		height: 145px
		line-height: 145px
		margin-bottom: 50px
		img
			display: inline-block
			vertical-align: middle
	.how-sel-title
		margin-bottom: 15px
		font-size: 18px
		+osb 
	.how-sel-cont
		padding: 0 40px
		font-size: 14px
		line-height: 1.6
		font-weight: 400 

// SHOP
// ===============================================
.shop
	background: #fff
	text-align: center
	.shop-in
		padding: 90px 0px 115px
		@extend %wrap
	.shop-items
		width: 100%
		padding: 0 120px
		font-size: 0
	.shop-item
		width: 25%
		height: 75px
		line-height: 75px
		display: inline-block
		vertical-align: middle
		text-align: center
		a, img
			display: inline-block
			vertical-align: middle
	.slick-prev, .slick-next
		position: absolute
		top: 50%
		margin-top: -24px
		outline: none
		border: none
		transition: 0.2s opacity linear
		&:hover
			opacity: 0.6 
	.slick-prev
		left: 0
		+s($s-arr-part_left)
	.slick-next
		right: 0
		+s($s-arr-part_right)

// PROD
// ===============================================
.prod
	padding: 50px 0
	background: #fff 
	position: relative
	z-index: 99
	.prod-in
		@extend %wrap
		padding: 0
	.prod-items
		+clr
	.prod-item
		float: left
		width: 33.33%
		text-align: center
		a
			text-decoration: none
	.prod-media
		height: 235px
		line-height: 235px
		img
			display: inline-block
			vertical-align: middle
	.prod-title
		height: 56px
		padding: 0 30px
		margin-bottom: 10px
		font-size: 20px
		line-height: 1.4
		color: $blue
		+osb 
	.prod-shop
		margin-bottom: 10px
		+osl
		font-size: 16px
		color: $blue 
	.prod-price
		color: $green 
		.prod-price-value
			font-size: 34px
			+osb
		.prod-price-currency
			margin-left: 10px
			font-size: 18px
			+osl
	.slick-prev, .slick-next
		position: absolute
		top: 140px
		border: 0
		outline: none
		transition: 2s opacity linear
		&:hover
			opacity: 0.8 
	.slick-prev
		left: -48px
		+s($s-arr-part_left)
	.slick-next
		right: -48px
		+s($s-arr-part_right)

// QUOTE
// // ===============================================
.quote
	position: relative
	height: 650px
	padding: 0px 0
	.quote-bg
		background-attachment: fixed
		background-position: 50% 50%
		background-repeat: no-repeat
		background-size: cover
		width: 100%
		height: 650px
	.quote-in
		@extend %wrap
		width: auto
		padding: 0
		z-index: 200
		position: absolute
		top: 156px
		left: 50%
		margin-left: -400px
		text-align: center
	.quote-bracket
		margin-right: 52px
		display: inline-block
		vertical-align: top
		+s($s-bracket)
	.quote-overlay
		width: 700px
		padding: 45px 50px 
		display: inline-block
		vertical-align: top
		background: rgba(#000, .4)
		color: #fff
		font-weight: 300 
		line-height: 1.6 
		text-align: center
		p
			margin-top: 15px
			&:first-child
				margin-top: 0

// CONTACTS
// ===============================================
.contacts
	width: 100%
	height: 750px
	text-align: center
	color: #FFF
	position: relative
	.contacts-bg
		background-attachment: fixed
		background-position: 50% 50%
		background-repeat: no-repeat
		background-size: cover
		height: 750px
		position: absolute
		top: 0
		left: 0
		right: 0
	.contacts-in
		@extend %wrap
		height: 100%
		text-align: center
		position: relative
		z-index: 200
	.contacts-logo
		width: 290px
		height: 172px
		margin-bottom: 65px
		display: inline-block
		background: url("../img/png/logo-white.png") 
	.contacts-tel
		margin-bottom: 65px
		.contacts-tel-meta
			margin-bottom: 30px
			font-size: 24px
			+osl
		.contacts-tel-num
			font-size: 74px
			+osl
	.contacts-mail
		.contacts-mail-meta
			margin-bottom: 40px
		.contacts-mail-btn
			margin-bottom: 10px
			padding: 15px 26px

// PRELOAD
// ===============================================
// #preloader
// 	// display: block !important
// 	position: fixed
// 	top: 0
// 	left: 0
// 	right: 0
// 	bottom: 0
// 	background-color: #fff
// 	z-index: 77777
// 	.preloader-in
// 		// display: block !important
// 		width: 200px
// 		height: 200px
// 		position: absolute
// 		left: 50%
// 		top: 50%
// 		margin-top: -100px
// 		margin-left: -100px
// 		overflow: hidden

// .progress
// 	height: 101px
// 	overflow: hidden
// 	position: relative
// 	.progress-bar
// 		width: 102px
// 		height: 101px
// 		background: url(../img/png/progress-bar.png)
// 		position: absolute
// 		top: 0
// 		left: 50%
// 		margin-top: 0px
// 		margin-left: -50px
// 		z-index: 10
// 	.progress-indicator
// 		width: 100px
// 		height: 200px
// 		background: url("../img/png/indicator.png") no-repeat
// 		position: absolute
// 		top: 0
// 		left: 50%
// 		margin-left: -50px

.status-percent
	margin-top: 10px
	text-align: center
	color: #00bf5f
	line-height: 1
.status-percent-num
	margin-left: 15px
	margin-right: 4px
	font-size: 48px
	+osb
.status-percent-symbol
	font-size: 24px
	+osl

.create-wish
	padding-top: 160px
	padding-bottom: 170px
	background: #fff 
	.create-wish-in
		@extend %wrap
		text-align: center
	.h2
		margin-bottom: 120px
	.create-wish-items
		font-size: 0
	.create-wish-item
		width: 16.66%
		display: inline-block
		vertical-align: top
		&:hover
			.create-wish-title
				color: #4a94f9
			.create-wish-ico
				path
					fill: #4a94f9
		a
			display: block
			text-decoration: none
	.create-wish-ico
		width: 155px
		height: 136px
		line-height: 136px
		margin-bottom: 25px
		display: inline-block
		text-align: center

	.create-wish-title
		font-size: 16px
		color: $blue
		font-weight: 700

// SHARE
// ===============================================
.share
	margin-bottom: 100px
	text-align: center
	.share-in
		@extend %wrap
		width: auto
		position: relative
	.share-title
		margin-bottom: 15px
		font-size: 24px
		color: #55606e
		text-align: center
	.share-meta
		height: 25px
		margin-bottom: 18px
		text-align: center
		font-size: 0
		.share-meta-descr
			display: inline-block
			vertical-align: middle
			font-size: 16px
			line-height: 1
			color: #a7adb5 
		#short-link-preview-wrap, #short-link-preview-wrap1, #short-link-preview-wrap2, #short-link-edit-wrap
			margin-left: 10px
			display: inline-block
			vertical-align: middle
			font-size: 16px
			line-height: 1
			button
				background: transparent
				border: 0
				outline: none 
				margin-left: 5px
				font-size: 14px
				color: #4a94f9
				border: 0
			a
				font-weight: 700
				color: #4a94f9
				text-decoration: none
		.short-link-ico-wrap
			width: 24px
			height: 24px
			line-height: 24px
			display: inline-block
			vertical-align: top
		#short-link-edit-wrap
			&.is-load
				.fa
					display: none
					&.fa-spinner
						display: inline-block
			span
				color: #bdc1c6
				font-weight: 700
			input
				min-height: 22px 
				background: #dfe9f1
				border: 0
				outline: none
				font-weight: 700
				font-size: 16px 
				line-height: 1.2
				color: #333
			.fa-spinner
				display: none
				font-size: 14px
				color: #4a94f9
				animation: spin 1s infinite linear
		.share-meta-link
			color: #4a94f9
			font-size: 0
			span
				font-size: 16px
			input
				outline: none
				border: 0
				font-size: 16px
	.share-tooltip
		// display: none
		opacity: 0
		max-width: 320px
		box-shadow: 0 0 80px rgba(135,155,182,.4)
		background: #fdf1d7
		padding: 7px 17px
		position: absolute
		top: 25px
		right: -130px
		z-index: -1
		text-align: left
		font-size: 14px
		font-weight: 400 
		line-height: 1.6 
		color: #55606e
		transition: opacity linear
		-webkit-transform:translate3d(0,0,0)
		&.is-active
			opacity: 1
			z-index: 2222
	.share-item
		width: 640px
		padding-bottom: 30px
		margin: 0 auto
		background: #fff
		border-radius: 2px
		border-top: 2px solid #00bf5f
		box-shadow: 0 0 30px rgba(159,195,217,.2)
		.share-item-title
			padding: 20px 10px
			text-align: center
			color: #333 
			font-weight: 700 
		.share-item-media
			width: 450px
			height: 290px
			line-height: 290px //
			margin: 0 auto 10px
			position: relative
			font-size: 0
		.share-item-img
			width: auto
			height: auto
			max-width: 100%
			max-height: 100%
			display: inline-block
			vertical-align: middle
	.share-item-btn
		width: 448px
		margin: 0 auto 14px
		padding: 19px 0
		display: block !important
		background: #3f67bc
		border: 1px solid #3f67bc 
		text-align: center
		color: #fff
		@extend %btn
		box-sizing: border-box
		&:hover
			background: transparent
			color: #3f67bc
		&.btn-mod
			background: #00bf5f
			border-color: #00bf5f
			&:hover
				background: #fff
				color: #00bf5f  
		.fa
			margin-right: 10px
			display: inline-block
			vertical-align: middle
		span
			display: inline-block
			vertical-align: middle
	.share-item-meta
		text-align: center
		font-size: 14px
		color: #a7adb5
		p
			margin-top: 15px
			&:first-child
				margin-top: 0
	.share-list
		margin-bottom: 24px
		font-size: 0
		display: inline-block
		text-align: center
	.share-list-item
		margin-left: 30px
		display: inline-block
		vertical-align: middle
		font-size: 14px
		color: #a7adb5
		&:first-child
			margin-left: 0
			color: #a7adb5
		a
			text-decoration: none
			color: #a7adb5
			transition: 0.2s color linear
			&:hover
				color: #4a94f9
				.fa
					color: #4a94f9
		.fa
			margin-right: 10px
			font-size: 24px
			display: inline-block
			vertical-align: middle
			color: #dfe9f1
			transition: 0.2s color linear
		span
			display: inline-block
			vertical-align: middle

// SHARE
// ===============================================
.mail-step1
	.mail-step1-in
		@extend %wrap
		width: 502px
	.mail-step1-title
		margin-bottom: 13px
		font-size: 24px
		color: #55606e
		text-align: center
		position: relative
	.mail-step1-meta
		margin-bottom: 26px
		font-size: 16px
		text-align: center
		&.m-mod
			margin-bottom: 16px
			a
				font-size: 14px
		span
			color: #a7adb5 
		a
			margin-left: 10px
			font-size: 16px
			font-weight: 700
			color: #4a94f9
			text-decoration: none
			&:hover
				text-decoration: underline
	.textarea
		margin-bottom: 12px
		textarea
			min-height: 242px
	.mail-step1-meta
		font-size: 14px
	.mail-step1-send
		margin-bottom: 60px
		display: block
		text-align: center
	.mail-step1-note
		text-align: center 
		font-size: 16px
		color: #a7adb5 
		p
			margin-top: 5px
			&:first-child
				margin-top: 0
	.mail-step1-social
		margin: 27px 0
		font-size: 0
		text-align: center
		li
			margin-left: 20px
			font-size: 24px
			display: inline-block
			vertical-align: middle
			&:first-child
				margin-left: 0
			a
				display: block
				color: #dfe9f1
				transition: 0.2s color linear
				&:hover
					color: #4a94f9
	.mail-step1-back
		position: absolute
		left: -40px
		top: 0
		cursor: pointer
		color: #4a94f9


.create-wish-item
	&.m-birthday, &.m-party, &.m-wedding, &.m-traveling, &.m-gift, &.m-housewarming
		path
			transition: 0.35s ease-in-out
	a .create-wish-title
		transition: 0.35s ease-in-out
	&.animated
		a .create-wish-title
			color: #4a94f9 
		&.m-birthday
			path
				transition: 0.25s ease-in-out
		&.m-party
			path
				transition: 0.355s ease-in-out
		&.m-wedding
			path
				transition: 0.5s ease-in-out
		&.m-traveling
			path
				transition: 0.625s ease-in-out
		&.m-gift
			path
				transition: 0.75s ease-in-out
		&.m-housewarming
			path
				transition: 0.9s ease-in-out
		&.m-birthday
			path
				fill: #4a94f9 !important
		&.m-party
			path
				fill: #4a94f9 !important
		&.m-wedding
			path
				fill: #4a94f9 !important
		&.m-traveling
			path
				fill: #4a94f9 !important
		&.m-gift
			path
				fill: #4a94f9 !important
		&.m-housewarming
			path
				fill: #4a94f9 !important
				

//







