.out
	&.m-mywish
		position: relative

.wishoverlay
	position: absolute
	top: 160px
	bottom: 0
	left: 0
	right: 0
	z-index: -1
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	&.is-active
		z-index: 1

.wish .wish-layout .wish-col2 .btn-warning.wishbalance-share
	font-size: 20px

.wishsettings
	border: 1px solid #dfe9f1
	border-radius: 3px
	margin-bottom: 30px
	&.gz-is-active
		.wishsettings-items
			.wishsettings-item
				cursor: pointer
	.wishsettings-title
		padding: 24px 0
		text-align: center
		font-size: 24px
		font-weight: bold
		color: #333
	.wishsettings-items
		font-size: 0
	.wishsettings-item
		display: inline-block
		vertical-align: top
		width: 239px
		height: 150px
		line-height: 150px
		font-size: 14px
		text-align: center
		position: relative
		// cursor: pointer
		transition: 0.2s background linear
		text-decoration: none
		&:before
			+FontAwesome
			font-size: 48px
			line-height: 1
			color: #00bf5f
			transition: 0.2s color linear
		&:hover
			background: #eff4f8
			&:before
				color: #4a94f9
			.wishsettings-descr
				color: #4a94f9
		&.m-modify
			&:before
				content: "\f013"
				position: absolute
				top: 30px
				left: 50%
				margin-left: -24px
			.wishsettings-descr
				padding-top: 100px
		&.m-personalise
			&:before
				content: "\f03e"
				position: absolute
				top: 30px
				left: 50%
				margin-left: -24px
			.wishsettings-descr
				padding-top: 100px
		&.m-ask
			&:before
				content: "\f234"
				position: absolute
				top: 30px
				left: 50%
				margin-left: -24px
			.wishsettings-descr
				padding-top: 85px
		&.m-close
			&:hover
				background: #fdf5f5
				&:before
					color: #ff3a3a
				.wishsettings-descr
					color: #ff3a3a
			&:before
				content: "\f09c"
				position: absolute
				top: 30px
				left: 50%
				margin-left: -24px
			.wishsettings-descr
				padding-top: 100px
	.wishsettings-descr
		font-size: 18px
		line-height: 1.2
		color: #333
		transition: 0.2s color linear

.wishbalance
	margin-bottom: 30px
	padding-bottom: 26px
	padding-left: 30px
	padding-right: 30px
	border: 1px solid #dfe9f1
	border-radius: 3px
	&.m-mod
		text-align: center
		padding-top: 20px
		.wishbalance-share
			font-size: 30px
			padding: 20px 13px 20px
			span
				margin: 0
	.wishbalance-title
		padding: 24px 0
		text-align: center
		font-size: 24px
		font-weight: bold
		color: #333
	// .wishbalance-row
	.wishbalance-share
		display: block
		margin-bottom: 25px
		text-decoration: none
		text-align: center
		span, .fa
			display: inline-block
			vertical-align: middle
		span
			margin-right: 15px
.wishbalance-link
	margin-top: 30px
	display: block
	text-align: center
	text-decoration: none
	font-size: 18px
	color: #4a94f9
	&.m-mod
		display: inline-block
		span, i
			display: inline-block
			vertical-align: middle
		span
			margin-right: 5px

.wishinfo
	display: none
	min-height: 160px
	line-height: 160px
	// margin-top: 60px
	padding-top: 60px
	background: #00bf5f
	text-decoration: none
	text-align: center
	&#js-day
		.wishinfo-in
			width: 1200px
			text-align: left
		.wishinfo-descr
			padding-left: 10px
		.wishinfo-btn-block
			float: right
			text-align: center
			margin-right: 57px
	&.is-active
		display: block
	&.m-mod
		.wishinfo-descr, .wishinfo-btn-block
			display: inline-block
			vertical-align: middle
		.wishinfo-descr
			margin-right: 50px
			&.align-left
				text-align: left
				line-height: 36px
		.wishinfo-descr-small
			font-size: 18px
			color: #fff 
	&.new-year
		overflow: hidden
		// background: #2ECB7B
		.wishinfo-in
			width: 980px
			padding-top: 0
			padding-bottom: 0
			margin: 0 auto
			position: relative
			.wishinfo-left
				width: 780px
			.wishinfo-right
				width: 180px
				height: 100px
				font-size: 14px
		.ny-wishinfo-title
			margin-bottom: 25px
			font-size: 30px
			color: #fff
		.ny-wishinfo-note
			font-size: 14px
			color: #fff
			font-weight: 400 
			span
				display: inline-block
				vertical-align: middle
			a
				display: inline-block
				vertical-align: middle
				color: #fff
				text-decoration: none 
				border-bottom: 1px dashed #fff
				&:hover
					border-bottom-color: transparent
		.new-year-img
			background: url("../img/png/satanclaus.png")
			width: 161px
			height: 173px
			position: absolute
			bottom: -57px
			right: 0
	&:hover
		.wishinfo-btn
			color: #00bf5f
			background: #fff
	.wishinfo-in
		@extend %wrap
		padding-top: 20px
		padding-bottom: 20px
		font-size: 0
		line-height: 1
		display: inline-block
		vertical-align: middle
	.wishinfo-left
		width: 590px
		display: inline-block
		vertical-align: middle
		text-align: center
	.wishinfo-right
		width: 590px
		display: inline-block
		vertical-align: middle
		text-align: center
	.wishinfo-descr
		font-size: 30px
		line-height: 48px
		color: #fff
	.wishinfo-btn
		display: inline-block
		padding: 25px 103px
		border: 2px solid #fff
		border-radius: 42px
		font-size: 30px
		font-weight: bold
		color: #fff
		text-decoration: none
		transition: 0.2s color linear, 0.2s background linear
	.wishinfo-btn-block
		&.mod
			.wishinfo-btn-see, .wishinfo-btn-create
				width: 241px
				line-height: 1.4
				padding: 9px 0 9px
				border-width: 2px
				&.m-single
					border-radius: 42px
					width: auto
					min-width: 160px
					padding: 9px 40px 9px
				.big
					font-size: 18px
					font-weight: bold
				.small
					font-size: 12px
	.wishinfo-btn-see, .wishinfo-btn-create
		display: inline-block
		padding: 17px 56px
		font-size: 30px
		line-height: 48px
		color: #fff
		text-decoration: none
		border: 1px solid #fff
		transition: 0.2s color linear, 0.2s background linear
		&:hover
			color: #00bf5f
			background: #fff
	.wishinfo-btn-see
		border-radius: 42px 0 0 42px
		border-right: 0
		// .small
		// 	font-size: 12px
	.wishinfo-btn-create
		border-radius: 0 42px 42px 0
	.wishinfo-l
		font-size: 0
		text-align: center
		.wishinfo-col1
			width: 50%
			display: inline-block
			vertical-align: middle
		.wishinfo-col2
			width: 50%
			display: inline-block
			vertical-align: middle
	.wishinfo-form
		position: relative
		.merchform.m-cashout .merchform-input.m-mail
			width: 450px
			border-radius: 35px
	.wishinfo-thanks
		display: none
		vertical-align: middle
		font-size: 24px
		color: #fff
		.fa
			margin-right: 10px
			font-size: 30px


.wishinfo
	.wishinfo-confirm
		+clr
		text-align: center
		font-size: 0
		.wishinfo-confirm-title
			width: 300px
			margin-right: 60px
			margin-bottom: 15px 
			display: inline-block
			vertical-align: middle
			text-align: right
			font-size: 30px
			line-height: 1
			color: #fff 
		.wishinfo-confirm-form
			width: 600px
			display: inline-block
			vertical-align: middle
		.wishinfo-form
			height: 70px 
			.merchform
				.merchform-input.m-tel
					width: 410px
					padding: 14px 60px 15px 30px
					box-sizing: border-box
					border-radius: 35px
					font-size: 30px
					color: #00BF5F
					font-weight: bold
					text-align: center
				.merchform-link
					right: -200px
					width: 250px
					padding: 23px 0px
					box-sizing: border-box
					&.is-load
						color: transparent
						&:before
							content: "\f110"
							font: normal normal normal 14px/1 FontAwesome
							font-size: 32px
							line-height: 1
							color: #00BF5F
							-webkit-animation: spin 1s infinite linear
							animation: spin 1s infinite linear
							position: absolute
							top: 50%
							left: 50%
							margin-top: -16px
							margin-left: -16px
		.wishinfo-confirm-meta
			width: 350px
			padding-left: 20px
			display: inline-block
			vertical-align: middle
			font-size: 14px
			line-height: 19px
			margin-top: 5px
			color: #fff
		.wishinfo-confirm-trial
			width: 230px
			display: inline-block
			vertical-align: middle
			font-size: 14px
			line-height: 19px
			margin-top: 5px
			color: #fff
		.wishinfo-confirm-success
			.h1
				font-size: 30px
				line-height: 41px
				margin-bottom: 5px
				color: #fff 
			p
				font-size: 18px
				line-height: 24px
				color: #fff
		.wishinfo-confirm-i
			@extend %wrap
			position: relative
		.close-light
			position: absolute
			right: 30px
			top: 0px
			width: 30px
			height: 30px
			cursor: pointer
			transition: 0.2s transform linear
			&:hover
				transform: rotate(90deg)
		.close-light:before, .close-light:after
			content: ' '
			height: 30px
			width: 2px
			background-color: #fff
			position: absolute
			left: 15px
		.close-light:before
			transform: rotate(45deg)
		.close-light:after
			transform: rotate(-45deg)
			

	


.timer
	color: #fff 
	.timer-meta
		margin-bottom: 25px
		font-size: 22px
	.timer-items
		font-size: 0
	.timer-item
		display: inline-block
		vertical-align: middle
		&.m-day
			margin-right: 40px
		&.m-separate
			margin-right: 25px
			.timer-digit
				position: relative
				&:after
					content: ":"
					position: absolute
					top: -2px
					right: -20px
					font-size: 40px
					font-weight: bold
	.timer-digit
		font-size: 40px
		font-weight: bold 
	.timer-digit-descr
		font-size: 16px

.wishinfo-thank
	font-size: 30px
	color: #fff 
	.fa
		margin-right: 10px

#close-wish
	.md-content
		max-width: 660px
		padding-left: 30px
		padding-right: 30px
		.md-content-in
			padding: 0
	.close-wish-paragraph
		text-align: center
		font-size: 18px
		line-height: 30px
		font-weight: 400 
		color: #a7adb5
	.h2
		padding-bottom: 35px
	.close-wish-btn
		margin-top: 40px
		text-align: center
		font-size: 0
		a
			&:first-child
				margin-right: 40px
		.close-wish-create
			width: 212px
		.close-wish-later
			width: 212px
			

.mobile-page
	.wishinfo
		&.new-year
			padding-top: 0
			.wishinfo-in
				width: 100%
			.ny-wishinfo-title
				font-size: 20px
				line-height: 1.2 
				margin-bottom: 15px
			.ny-wishinfo-note
				font-size: 12px
				line-height: 1.2
				span
					display: block
				a
					display: inline-block







