
.document
	padding-top: 105px
	padding-bottom: 30px
	font-size: 16px
	line-height: 30px
	color: #333 
	.document-in
		width: 820px
		margin-left: auto
		margin-right: auto
	h1
		margin-bottom: 55px
		font-size: 36px
		line-height: 48px
		font-weight: 700 
		text-align: center
	h2
		margin-bottom: 20px
		font-size: 24px
		line-height: 36px
		font-weight: 300 
	a
		text-decoration: none
		color: #4a94f9 
	p
		margin-bottom: 20px
		&.lead
			margin-bottom: 50px
	ol
		margin-bottom: 40px
		counter-reset: section
		list-style-type: none
		li
			margin-bottom: 5px
			padding-left: 30px
			position: relative
		li::before
			counter-increment: section
			content: counters(section,".") " "
			position: absolute
			left: 0
			top: 0
		ol
			margin-top: 8px
			li
				padding-left: 50px
	ul
		li
			margin-bottom: 5px
			position: relative
			padding-left: 30px 
			&:before
				content: ""
				width: 8px
				height: 8px
				border-radius: 4px
				background: #bdc1c6
				position: absolute
				top: 11px
				left: 0
			ul
				margin-top: 8px

