.md-modal-bottom {
	width: 80%;
	max-width: 960px;
	min-width: 300px;
	margin: 17px auto;
	// overflow: hidden;
	font-size: 0;
	position: relative;
	z-index: 100;
	.md-modal-bottom-col1 {
		width: 50%;
		// float: left;
		display: inline-block;
		vertical-align: middle;
	}
	.md-modal-bottom-col2 {
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
	}
}


.md-modal-top {
	text-align: center;
	h2 {
		display: inline-block;
		position: relative;
		span {
			margin-right: 5px;
		}
		.fa-info-circle {
			// margin-top: 5px;
			cursor: pointer;
		}
	}
}

.md-modal-terms {
	font-size: 12px;
	color: #bdc1c6;
	a {
		color: #4a94f9;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}  
	}
}

.popup-note {
	// font-size: 14px;
	font-size: 12px;
	color: #bdc1c6;
	text-align: center;
}
.popup-note a {
	display: inline;
	text-decoration: none;
	color: #4a94f9;
	&:hover {
		text-decoration: underline;
	}
}


.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.md-modal {
	position: fixed;
	// top: 50%;
	// left: 50%;
	// width: 90%;
	// max-width: 800px;
	// min-width: 320px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: auto;
	z-index: 22222;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	// -webkit-transform: translateX(-50%) translateY(-50%);
	// -moz-transform: translateX(-50%) translateY(-50%);
	// -ms-transform: translateX(-50%) translateY(-50%);
	// transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(0%) translateY(0%);
	-moz-transform: translateX(0%) translateY(0%);
	-ms-transform: translateX(0%) translateY(0%);
	transform: translateX(0%) translateY(0%);
}

.md-show {
	visibility: visible;
	overflow: auto;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	// z-index: 11111;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.78);
	background: rgba(255, 255, 255, 0.78);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

// .is-popup .md-overlay {
// 	opacity: 1;
// 	visibility: visible;
// }

.md-show {
	.md-overlay {
		opacity: 1;
		visibility: visible;
	}
}

/* Content styles */
.md-content {
	width: 80%;
	max-width: 820px;
	min-width: 300px;
	margin: 40px auto;
	padding: 75px 70px;
	color: #55606e;
	background: #fff;
	
	border-radius: 2px;
	box-shadow: 0 0 80px rgba(135,155,182,.4);

	position: relative;
}

.md-content .how-sel .how-sel-ico {
	margin-bottom: 35px;
}

.md-content .how-work.m-mod  .how-sel-title{
	font-size: 18px;
	font-weight: 700;
}

.md-content .how-work.m-mod  .how-sel-cont {
	line-height: 1.6;
}

.md-content .h2 {
	font-size: 24px;
	font-weight: 700;
	padding: 0px 0 75px;
	text-align: center;
}
.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > .md-content-in {
	padding: 0px 10px 70px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content .md-close {
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	font-size: 18px;
}
.md-content .md-close.fa {
	width: 36px;
	font-size: 36px;
	padding: 13px;
	margin-top: 0;
	position: absolute;
	color: #a7adb5;
	cursor: pointer;
	transition: transform 0.3s linear;
	text-align: center;
	top: 0;
	right: 0;
}
.md-content .md-close.fa:hover {
	transform: rotate(90deg);
}

// .md-modal-form {
// 	margin-top: 20px;
// 	margin-bottom: 30px;
// }

.md-modal-row {
	max-width: 402px;
	margin: 0px auto 20px;
}

.md-modal-row .btn-success {
	width: 100%;
	margin-top: 0;
	box-sizing: border-box;
}

#sign-up.md-modal {
	padding: 0;
	.md-content {
		max-width: 640px;
		padding: 0;
		.md-content-in {
			padding: 0;
			border-radius: 3px;
		}
	}

}

// popup sign-up
.popup-sign-up {
	width: 400px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 25px;
	.h2  {
		padding-bottom: 0;
		font-size: 24px;
		font-weight: 700;
		position: relative;
		span {
			color: #55606e;
		}
		.fa {
			padding: 15px;
			font-size: 12px;
			color: #a7adb5;
			cursor: pointer;
		}
	}
	.popup-note {
		margin-bottom: 60px;
	}
	.popup-sign-tw {
		display: block;
		padding: 16px 10px;
		background: #DFE9F1;
		font-size: 18px;
		font-weight: 600;
		color: #3f67bc;
		border-radius: 0 0 2px 2px;
		text-decoration: none;
		text-align: center;
		transition: 0.2s all linear;
		&:hover {
			background: #eff4f8;
			color: #5eaade;
		}
		.fa {
			margin-right: 10px;
			font-size: 24px;
		}
	}
	.popup-sign-fb {
		display: block;
		padding: 16px 10px;
		background: #DFE9F1;
		font-size: 18px;
		font-weight: 600;
		color: #3f67bc;
		border-radius: 2px 2px 0 0;
		border-bottom: 1px solid #fff;
		text-decoration: none;
		text-align: center;
		transition: 0.2s all linear;
		&:hover {
			background: #eff4f8;
			color: #5eaade;
		}
		.fa {
			margin-right: 10px;
			font-size: 24px;
		}
	}
	.popup-sign-meta {
		margin: 17px 0 17px;
		text-align: center;
		font-size: 14px;
		color: #a7adb5;
	}
	.popup-sign-mail {
		margin-bottom: 110px;
		font-size: 18px;
		font-weight: 600;
		color: #4a94f9;
		text-decoration: none;
		text-align: center;
		a {
			display: block;
			padding: 5px 0;
			color: #4a94f9;
			font-weight: 600;
			text-decoration: none;
		}
		.fa {
			margin-right: 10px;
			font-size: 24px;
		}
	}
	.popup-sign-enter {
		font-size: 14px;
		text-align: center;
		span {
			margin-right: 10px;
		}
		a {
			font-weight: 400;
			text-decoration: none;
			color: #4a94f9;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// popup mail
.popup-mail {
	width: 400px;
	margin: 0 auto;
	padding: 50px 0 25px;
	font-weight: 400; 
	.popup-mail-title {
		margin-bottom: 20px;
		position: relative;
		text-align: center;
		.fa-arrow-left {
			display: inline-block;
			vertical-align: middle;
			margin-right: 25px;
			font-size: 24px;
			color: #4a94f9;
			cursor: pointer;
			
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -10px;
		}
		.fa-envelope {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			font-size: 24px;
			color: #55606e;
		}
		span {
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			font-weight: 700;
			color: #55606e;
		}
	}
	.popup-mail-row {
		margin-bottom: 30px;
		font-size: 0;
		position: relative;
		.popup-mail-label50 {
			width: 190px;
			float: left;
			&:first-child {
				margin-right: 20px;
			}
		}
	}
	.popup-mail-reg {
		display: block;
		margin-bottom: 30px;
		padding: 20px 18px 19px;
		background: #00BF5F;
		border: 1px solid #00BF5F;
		border-radius: 2px;
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
		text-decoration: none;
		transition: 0.2s all linear;
		&:hover {
			background: transparent;
			color: #00BF5F;
		}
		&:active {
			transform: scale(0.95);
		}
	}
	.popup-sign-enter {
		font-size: 14px;
		text-align: center;
		span {
			margin-right: 10px;
		}
		a {
			font-weight: 400;
			text-decoration: none;
			color: #4a94f9;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// sign in
.sign-in {
	width: 402px;
	margin: 0 auto;
	padding: 55px 0 25px;
	.sign-sign-top {
		margin-bottom: 23px;
		position: relative;
		text-align: center;
		.fa-arrow-left {
			font-size: 24px;
			color: #4a94f9;
			text-align: center;
			text-decoration: none;
			position: absolute;
			top: 50%;
			margin-top: -12px;
			left: 0;
		}
		span {
			font-size: 18px;
			color: #55606e;
			font-weight: 700;
		}
	}
	.popup-sign-row {
		margin-bottom: 30px;
	}
	.forgot-pass {
		position: absolute;
		top: 50%;
		margin-top: -9px;
		right: 20px;
		z-index: 999;
		
		font-size: 18px;
		color: #4a94f9;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	.popup-sign-meta {
		margin: 25px 0 18px;
		text-align: center;
		font-size: 14px;
		color: #a7adb5;
	}
	.popup-sign-btn {
		display: block;
		text-align: center;
	}
	.popup-sign-tw {
		display: block;
		padding: 16px 10px;
		background: #DFE9F1;
		font-size: 18px;
		font-weight: 600;
		color: #3f67bc;
		border-radius: 0 0 2px 2px;
		text-decoration: none;
		text-align: center;
		transition: 0.2s all linear;
		&:hover {
			background: #eff4f8;
			color: #5eaade;
		}
		.fa {
			margin-right: 10px;
			font-size: 24px;
		}
	}
	.popup-sign-fb {
		display: block;
		padding: 16px 10px;
		background: #DFE9F1;
		font-size: 18px;
		font-weight: 600;
		color: #3f67bc;
		border-radius: 2px 2px 0 0;
		border-bottom: 1px solid #fff;
		text-decoration: none;
		text-align: center;
		transition: 0.2s all linear;
		&:hover {
			background: #eff4f8;
			color: #5eaade;
		}
		.fa {
			margin-right: 10px;
			font-size: 24px;
		}
	}
	.popup-sign-enter {
		margin-top: 33px;
		font-size: 14px;
		text-align: center;
		span {
			margin-right: 10px;
		}
		a {
			font-weight: 400;
			text-decoration: none;
			color: #4a94f9;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// step 1
.popup-forgot-step1 {
	.popup-forgot-step-in {
		padding: 70px 120px;
	}
	.popup-forgot-title {
		margin-bottom: 55px;
		position: relative;
		text-align: center;
		.fa-arrow-left {
			font-size: 24px;
			color: #4a94f9;
			text-align: center;
			text-decoration: none;
			position: absolute;
			top: 50%;
			margin-top: -12px;
			left: 0;
			cursor: pointer;
		}
		span {
			font-size: 18px;
			font-weight: 700;
		}
	}
	.popup-forgot-row {
		margin-top: 30px;
		&:first-child {
			margin-top: 0;
		}
		.btn-success {
			display: block;
			text-align: center;
		}
	}
}

// step 2
.popup-forgot-step2 {
	.popup-forgot-step-in {
		padding: 70px 120px;
	}
	.popup-forgot-title {
		margin-bottom: 65px;
		font-size: 18px;
		color: #55606e;
		font-weight: 700;
		text-align: center;
	}
	.popup-forgot-meta {
		margin-bottom: 60px;
		font-size: 18px;
		color: #a7adb5;
		text-align: center;
		a {
			text-decoration: none;
			color: #4a94f9;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.btn-success {
		display: block;
		text-align: center;
	}
}

#popup-preview-friend {
	.wish .wish-descr {
		line-height: 1.6; 
	}
	.wishbalance.m-mod{
		padding: 12px 16px 12px 19px;
	}
	.ranger {
		margin-bottom: 11px;
	}
	.wishbalance-share {
		padding: 20px 13px 20px;
		font-size: 24px;
	}
	.wishbalance-link.m-mod {
		margin-top: 14px;
	}

	.wish-user.m-mod {
		padding: 17px 10px 10px 21px;
		.wish-user-ava {
			margin-top: 14px;
		}
		.wish-user-link {
			margin-bottom: 18px;
		}
		.wish-user .wish-user-social {
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
		.wish-user .wish-user-social a {
			font-size: 14px;
		}
	}
}

#popup-preview, #popup-preview-friend {
	.md-content {
		max-width: 810px;
		min-width: 810px; //
		padding: 27px 100px 75px;
	}

	.ranger {
		margin-bottom: 7px;
		.ranger-price {
			.ranger-price-collected {
				font-size: 30px;
			}
			.ranger-price-from {
				font-size: 16px;
			}
		}
	}

	.wish .wish-layout .wish-col2 .btn-warning {
		width: 208px;
		padding: 22px 13px 22px;
		cursor: default;
		&:hover {
			background: #fbc647;
			color: #FFF; 
		}
		&:active {
			transform: scale(1);
		}
	}

	.wish .wish-share-btn {
		margin-top: 12px;
		margin-bottom: 18px;
	}
	.chip-none .chip-none-meta {
		
	}
	.chip-none {
		height: 135px;
		padding: 15px 0;
		&:before {
			font-size: 72px;
			margin-left: -43px;
			margin-top: -36px;
		}
	}

}
// one wish
#one-wish, #wishroundMerchantOneWish {
	.md-content {
		// min-width: 800px; 
		padding-top: 45px;
		padding-bottom: 45px;
		position: relative;
		z-index: 11111;
	}
	.one-wish-title {
		font-size: 24px;
		font-weight: 700;
		color: #333;
		text-align: center;
	}
	.one-wish-content {
		padding: 40px 119px; 
		font-size: 16px;
		color: #a7adb5;
		text-align: center;
		p {
			margin-bottom: 15px;
		}
	}
	.one-wish-items {
		overflow: hidden;
		// padding: 0 50px;
		padding: 0 20px;
		display: table;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 30px 0px;
	}
	.one-wish-hide {
		margin-top: 55px;
		text-align: center;
		.one-wish-hide-meta {
			display: none;
			margin-bottom: 15px;
			font-size: 16px;
			color: #bdc1c6;
		}
		.btn-success {
			display: none;
			padding-left: 40px;
			padding-right: 40px;
		}
	}
	.one-wish-item {
		// width: 48%;
		// float: left;
		width: 50%;
		display: table-cell;
		border: 1px solid #cddce8;
		box-sizing: border-box;
		border-radius: 3px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		// &.is-special {
		// 	float: right;
		// }
		&:hover {
			border-color: #4a94f9;
		}
		&.is-active {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,191,95,.5);
			}
			&:after {
				content: "\f00c";
				font-family: "FontAwesome", Arial, Helvetica, sans-serif;
				font-size: 72px;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -43px;
				margin-left: -36px;
			}
		}
		.one-wish-item-title {
			margin-bottom: 10px;
			font-size: 18px;
			font-weight: 700;
			color: #333;
			text-align: center;
		}
	}
	.one-wish-media {
		width: 345px;
		height: 210px;
		line-height: 210px;
		text-align: center;
		font-size: 0;
		img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto; 
			display: inline-block;
			vertical-align: middle;
		}
	}
	.one-wish-content {
		padding: 22px 25px 22px;
		text-align: center;
	}
	.one-wish-price {
		font-size: 14px;
		font-weight: bold;
		color: #55606e;
		.one-wish-price-meta {
			margin-left: 5px;
			color: #a7adb5;
		}
	}
}

// 
#country {
	.md-content {
		max-width: 500px;
		padding: 80px 70px 5px;
	}
	.country-title {
		margin-bottom: 75px;
		font-size: 24px;
		color: #55606e;
		font-weight: 700;
		text-align: center;
	}
	.country-list {
		overflow: hidden;
		li {
			width: 33.33%;
			float: left;
			text-align: center;
			&.is-disabled {
				// webkit-filter: grayscale(100%);
				// filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
				// -webkit-filter: grayscale(100%);
				// filter: grayscale(100%);
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				a {
					cursor: default;
					position: relative;
					z-index: -1; 
				}
				.m-de {
					.country-flag {
						background-image: url(../img/content-img/de_inactive.png) !important
					}
				}
				.m-pl {
					.country-flag {
						background-image: url(../img/content-img/pl_inactive.png) !important
					}
				}
				.m-ua {
					.country-flag {
						background-image: url(../img/content-img/ua_inactive.png) !important
					}
				}
			}
		}
		a {
			display: block;
			text-decoration: none;
			&:hover {
				.country-flag {
					border-color: #4a94f9;
				}
			}
			&.m-pl {
				margin-left: 31px;
			}
			&.m-de, .m-uk {
				margin-right: 31px;
			}
		}
	}
	.country-flag {
		margin-bottom: 20px;
		display: inline-block;
		width: 70px;
		height: 70px;
		border: 1px solid #a7adb5;
		border-radius: 50%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.country-meta {
		font-size: 16px;
		color: #55606e; 
	}
}

#delete-account {
	.md-content {
		max-width: 580px;
	}
	.h2 {
		padding-bottom: 40px;
	}
}

#birthday {
	.md-content {
		max-width: 400px;
		padding-left: 120px;
		padding-right: 120px;
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.h2 {
		margin: 0 -40px;
		position: relative;
		padding-bottom: 55px;
		span {
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
		}
		i {
			margin-top: 5px;
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			color: #bdc1c6;
			cursor: pointer;
		}
	}
}

.birthday-note {
	margin-left: 22px;
	margin-bottom: 8px;
	font-size: 12px;
	color: #bdc1c6;
	position: relative;
	span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
	.fa {
		vertical-align: middle;
		font-size: 18px;
		cursor: pointer;
		-webkit-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
		&:hover {
			color: #4a94f9;
		}
	}
}
.birthday-row {
	&.m-small, &.clear {
		margin-bottom: 30px;
	}
	&.m-long {
		font-size: 0;
		margin-bottom: 34px;
	}
	.fa {
		&.fa-spinner {
			display: none;
		}
	}
	.is-load {
		.fa {
			display: none;
			&.fa-spinner {
				display: block;
				animation: spin 1s infinite linear;
				width: 24px;
				height: 24px;
				margin: 0 auto;
			}
		}
	}
	.birthday-label50 {
		width: 190px;
		float: left;
		&:first-child {
			margin-right: 20px;
		}
	}
}

.date-row {
	font-size: 0;
	.date-label1, .date-label2, .date-label3 {
		display: inline-block;
		vertical-align: top;
		select {
			width: 100%;
		}
	}
}
.date-label1 {
	width: 150px;
	margin-right: 20px;
}
.date-label2 {
	width: 100px;
	margin-right: 20px;
}
.date-label3 {
	width: 110px;
}

.birthday-label1, .birthday-label2, .birthday-label3 {
	display: inline-block;
	vertical-align: top;
	select {
		width: 100%;
	}
}
.birthday-label1 {
	width: 150px;
	margin-right: 20px; 
}
.birthday-label2 {
	width: 100px;
	margin-right: 20px;
}
.birthday-label3 {
	width: 110px;
}
.tooltip-open {
	max-width: 410px;
	bottom: -65px;
}

/* Effect 3: Slide from the bottom */
.md-effect-3 .md-content {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-3 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}


@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}



#wishroundLoaderPopup{
	.md-content {
		text-align: center;
		padding: 200px 70px;
	}
	.fa-spinner {
		animation: spin 1.75s infinite linear;
		font-size: 120px;
		color: #00bf5f;
	}
}


#popup-preview .wish .wish-layout, #popup-preview-friend .wish .wish-layout{
	margin-bottom: 0;
}
#popup-preview .md-content, #popup-preview-friend .md-content {
	  padding: 27px 100px 30px;
}
#popup-wrap .md-overlay {
	background-color: transparent;
	background: transparent;
}
#popup-wrap {
	&.is-modify {
		.checkbox {
			display: none;
		}
		.md-content .fa-arrow-left {
			display: inline-block;
		}
	}
	&.is-modify-ready {
		.md-content .fa-arrow-left {
			display: none;
		}
		.checkbox {
			display: none;
		}
	}
	.md-content  {
		height: 650px;
		line-height: 650px;
		padding: 0 70px;
		margin-bottom: 0;
		text-align: center;
		
		overflow: hidden; //
		.h2 {
			padding: 0 0 20px; 
		}
		.fa-arrow-left {
			display: none;
		}
		.md-content-i {
			vertical-align: middle;
			display: inline-block;
			line-height: 1.2;
			text-align: center;
		}
	}
	.md-modal-bottom .checkbox.m-mod {
		padding-left: 20px;
		&:hover {
			input + .checkbox-ico {
				border-color: #cddce8;
			}
		}
		span {
			color: #a7adb5;
		}
	}
	#sign-up {
		.popup-sign-up {
			padding-top: 50px;
			padding-bottom: 0
		}
	}
	#one-wish {
		width: 720px;
		.one-wish-items {
			padding: 0;
		}
	}
	.wish-wrap {
		width: auto;
		padding-top: 52px;
	}
	.wishroundMerchantReadyFriend, #wishroundMerchantReadyMy {
		.share {
			margin-bottom: 0;
			.share-item {
				height: 326px;
				overflow: hidden;
				&:before {
					content: "";
					width: 100%;
					height: 155px;
					position: absolute;
					left: 0;
					bottom: 0;
					background: url(../img/png/preview-shadow.png) repeat-x;
					z-index: 100;
				}
				.share-item-title {
					overflow: hidden;
					-ms-text-overflow: ellipsis;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
	#wishroundMerchantWishPosted .share {
		margin-bottom: 0;
	}
	#wishroundMerchantWishPosted .fa-check {
		font-size: 40px;
		color: #00bf5f; 
	}
	#wishroundMerchantSend {
		width: 500px;
	}
	#wishroundMerchantLettrsSend .share {
		margin-bottom: 0
	}
	#wishroundMerchantLettrsSend .fa-check {
		font-size: 40px;
		color: #00bf5f;
	}
	
	.tooltip-error-secure {
		display: none;
		max-width: 320px;
		box-shadow: 0 0 80px rgba(135, 155, 182, 0.4);
		padding: 15px 20px;
		position: absolute;
		bottom: -85px;
		right: -100px;
		z-index: 1888;
		text-align: left;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.6;
		color: #55606e;
		background: #fff;
		&.is-active {
			display: block;
		}
	}
	.js-email-fio, .js-email-facebook, .js-email-twitter, .js-pass-warning{
		width: 300px;
		display: none;
		position: absolute;
		top: 0;
		right: -250px;
		left: auto;
		z-index: 999;
		bottom: auto;
		&.is-active {
			display: block;
		}
	}
	.tooltip-hint2 {
		width: 300px;
		display: none;
		position: absolute;
		top: 50px;
		right: 20px;
		left: auto;
		z-index: 999;
		bottom: auto; 
		&.is-active {
			display: block;
		}
	}
	.birthday-note {
		text-align: left;
	}
	.popup-forgot-step1 .popup-forgot-step-in {
		width: 400px;
		padding: 70px 30px;
	}
}




#popup-wrap .fa-arrow-left{
	width: 36px;
	height: 36px;
	line-height: 36px;
	padding: 13px;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	color: #a7adb5;
	&:hover {
		color: #4a94f9;
	} 
}

#checkoutHowWork .btn-success {
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	font-size: 18px;
}

#checkoutLoader {
	height: 365px;
	position: relative;
	.fa-spinner {
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -83px;
		margin-left: -60px;
		-webkit-animation: spin 1.75s infinite linear;
		animation: spin 1.75s infinite linear;
		font-size: 120px;
		color: #00bf5f;
	}
}


#checkoutLoader {
	height: 365px;
	text-align: center;
	.fa-spinner {
		-webkit-animation: spin 1.75s infinite linear;
		animation: spin 1.75s infinite linear;
		font-size: 120px;
		color: #00bf5f;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -60px;
		margin-left: -60px;
	}
}

#next-step {
	.md-content {
		max-width: 635px;
		padding-left: 95px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.next-step {
	overflow: hidden;
	.next-step-img {
		width: 210px;
		float: left;
		img {
			max-width: 100%; 
		}
	}
	.next-stepdescr {
		width: 340px;
		float: right;
		font-size: 16px;
		line-height: 22px;
		color: #55606E;
		p {
			margin-bottom: 24px;
		}
	}
}

// subscribe-popup
#subscribe {
	.md-content {
		max-width: 660px;
		padding-top: 45px;
		padding-bottom: 35px;
	}
}

.subscribemodal {
	text-align: center;
	.subscribemodal-ava {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto 15px;
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;  
		}
	}
	.subscribemodal-title {
		margin-bottom: 40px;
		font-size: 24px;
		line-height: 33px;
		font-weight: 700;  
	}
	.subscribemodal-row {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;   
		margin-bottom: 60px;
		text-align: left;
		&.align-center {
			margin-bottom: 20px;
			text-align: center;
		}
	}
	.subscribemodal-note {
		margin-left: 20px;
		margin-bottom: 5px;
		font-size: 12px;
		font-weight: 400; 
		color: #BDC1C6;
		span {
			display: inline-block;
			vertical-align: middle;
			margin-right: 8px;
		}
		.fa {
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			cursor: pointer;
			position: relative;
			z-index: 100;
		}
		.tooltip-open {
			width: 210px;
			font-family: "Open Sans", sans-serif;
			font-size: 12px;
			line-height: 17px;
			bottom: initial;
			right: initial;
			top: 20px;
			left: 20px;
			font-size: 12px;
			color: #55606E; 
		}
	}
	.btn-success {
		font-size: 18px;
		padding-left: 26px;
		padding-right: 26px;
	}
	.subscribemodal-no-spam {
		width: 320px;
		margin: 0 auto;
		color: #CDDCE8; 
		font-size: 0;
		.fa-shield {
			width: 25px;
			margin-right: 20px;
			display: inline-block;
			vertical-align: middle;
			font-size: 25px;
		}
		span {
			width: 250px;
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			text-align: left;
		}
	}

	.btn-success {
		&.is-load {
			color: transparent;
			position: relative;
			&:before {
				content: "\f110";
				font-family: "FontAwesome", Arial, Helvetica, sans-serif;
				width: 30px;
				height: 30px;
				line-height: 30px;
				-webkit-animation: spin 1s infinite linear;
				animation: spin 1s infinite linear;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -15px;
				margin-left: -15px;
				color: #fff;
				font-size: 25px;
			}
			&:hover { 
				&:before {
					color: #00bf5f; 
				}
			}
		}

		&.is-ok {
			color: transparent;
			position: relative;
			&:before {
				content: "\f00c";
				font-family: "FontAwesome", Arial, Helvetica, sans-serif;
				width: 30px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -15px;
				margin-left: -15px;
				color: #fff;
				font-size: 25px;
			}
			&:hover { 
				&:before {
					color: #00bf5f; 
				}
			}
		}
	}

}









