.slick-slider
	position: relative
	display: block
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-touch-callout: none 
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent
.slick-list
	position: relative
	overflow: hidden
	display: block
	margin: 0
	padding: 0
	&:focus
		outline: none
	// .slick-loading &
	// 	background: white slick-image-url("ajax-loader.gif") center center no-repeat
	&.dragging
		cursor: pointer
		cursor: hand

.slick-slider .slick-list,
.slick-track,
.slick-slide, 
.slick-slide img
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)

.slick-track
	margin: 0 0px
.slick-track
	position: relative
	left: 0
	top: 0
	display: block
	zoom: 1
	&:before,
	&:after
		content: ""
		display: table
	&:after
		clear: both
	.slick-loading &
		visibility: hidden

.slick-slide
	float: left
	height: 100%
	min-height: 1px
	img
		display: block
		max-width: 100%
	&.slick-loading img
		display: none
	display: none
	&.dragging img
		pointer-events: none
	.slick-initialized &
		display: block
	.slick-loading &
		visibility: hidden
	.slick-vertical &
		display: block
		height: auto
		border: 1px solid transparent

.slick-prev,
.slick-next
	position: absolute
	top: 50%
	margin-top: -14px
	+hide-text
	height: 50px
	background: none
	&:focus
		outline: none
	&.slick-disabled
		opacity: 0.2
	&:before
		height: 50px
		line-height: 50px
.slick-prev
	left: 0
	&:before
		content: "←"
		display: inline-block
		vertical-align: middle
		font-size: 61px
		color: #fff 
.slick-next
	right: 0
	&:before
		content: "→"
		display: inline-block
		vertical-align: middle
		font-size: 61px
		color: #fff 
.slick-dots
	text-align: center
	position: absolute
	margin: 0
	bottom: 0px
	left: 0
	right: 0
	li
		margin-left: 34px
		display: inline-block
		position: relative
		// padding: 0 3px
		vertical-align: top
		&:first-child
			margin-left: 0
		&.slick-active
			button
				background: rgba(#fff, 1)
				box-shadow: none
		&:before
			display: none 
	button
		display: block
		width: 16px
		height: 16px
		border-radius: 50% 
		// border: 3px solid #fff
		background: rgba(#fff, .5)
		border: 0
		cursor: pointer
		outline: none
		+hide-text
		&:hover
			box-shadow: none
	