#preview-wish-amount
	display: inline-block
	
.is-overlay, .gz-is-active
	.wishsettings 
		.wishsettings-item
			&.m-close
				&:hover
					background: #fff 
					&:before
						color: #4a94f9 
			&:hover
				background: #FFF
				.wishsettings-descr
					color: #333

.wish
	padding-top: 112px
	&.m-closed-wish
		.wish-banner:hover a
			background: #dfe9f1
			color: #4a94f9
			cursor: default
		.ranger, .wishbalance-link
			cursor: default
		.btn-warning
			&:hover
				background: #fbc647
				color: #fff
			&:active
				transform: scale(1)
		.ranger .ranger-price .fa-info-circle
			cursor: default
		.pagi 
			.pagi-prev, .pagi-next
				&:hover
					color: #dfe9f1
			.pagi-prev, .pagi-next, .pagi-list li span
				cursor: default
		// .wishsettings 
		// 	.wishsettings-item
		// 		&.m-close
		// 			&:hover
		// 				&:before
		// 					color: #4a94f9 
		// 		&:hover
		// 			background: #FFF
		// 			.wishsettings-descr
		// 				color: #333
		#cycle-2 .cycle-slide, .wish-caro-prev, .wish-caro-next
			cursor: default
		.wish-caro-prev, .wish-caro-next
			color: #dfe9f1
	&.m-cashout
		.wish-layout .wish-col2 .btn-warning
			width: auto
	&.is-overlay
		-webkit-filter: grayscale(100%)
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale")
		filter: grayscale(100%)
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
	&.m-popup
		padding-top: 0
		.wish-layout
			.wish-col1
				width: 330px
			.wish-col2
				width: 380px
			.wish-meta
				margin: 18px 0 27px
				font-size: 12px
			.wish-share
				li.wish-share-total
					.wish-share-num
						font-size: 30px
					.wish-share-descr
						font-size: 10px
				li
					.wish-share-num
						font-size: 24px
					.fa
						font-size: 30px
			.wish-user
				.wish-user-descr
					max-width: 230px
			.wish-descr
				.wish-descr-title
					margin-bottom: 15px
		.wish-in
			width: 100%
			padding: 0
		.wish-title
			font-size: 30px
		.chip-none
			margin-bottom: 0
		.wish-popup-meta
			margin-bottom: 20px
			font-size: 14px
			font-weight: 700 
			color: #a7adb5
			text-align: center
		.ranger, .wish-share-btn a, .wish-meta a
			cursor: default
		.wish-meta a
			&:hover 
				text-decoration: none
		.btn-warning
			cursor: default
			// &:hover
			// 	background: #fbc647
			// 	color: #fff 
		.wish-user
			padding-top: 6px
			&.m-mod
				.wish-user-descr
					max-width: 197px 
			.wish-user-link
				cursor: default
			.wish-user-social a, span
				cursor: default
				&:hover
					color: #a7adb5 
	.wish-in
		@extend %wrap
	.question-list
		ul
			margin: 0 30px
		li
			display: block
			margin-bottom: 20px
			cursor: pointer
			position: relative
			&:hover
				&:before
					color: #55606E
				.question-list-title
					color: #55606E
			&:before
				content: "\f0da"
				+FontAwesome
				transition: 0.2s color linear
				font-size: 20px
				color: #BDC1C6 
				position: absolute
				top: 0
				left: -20px
			&.is-active
				&:before
					content: "\f0d7"
					color: #55606E
				.question-list-title
					color: #55606E
				.question-list-content
					display: block
		.question-list-title
			margin-bottom: 10px
			font-size: 18px
			line-height: 24px
			color: #BDC1C6
			transition: 0.2s color linear
		.question-list-content
			display: none
			font-size: 16px
			line-height: 22px
			color: #55606E 
	.wish-box
		margin-bottom: 30px
		padding: 35px 50px 25px
		border: 1px solid #dfe9f1
		border-radius: 3px
		.wish-box-title
			margin-bottom: 35px
			font-size: 20px
			font-weight: 700 
			text-align: center
			color: #333 
		// .wish-box-wrap
		.wish-box-row
			margin-bottom: 10px
		.wish-box-btn
			max-width: 302px
			padding-top: 14px
			padding-bottom: 13px
			margin: 35px auto  20px
			display: block
			text-align: center
			.wish-box-btn-title
				display: block
				font-size: 24px
				line-height: 33px
				font-weight: 600
			.wish-box-btn-summ
				display: block
				font-size: 14px
				line-height: 19px
				text-decoration: none
		.wish-box-next
			text-decoration: none
			border-bottom: 1px dashed #BDC1C6
			font-size: 14px
			color: #BDC1C6
			&:hover
				border-color: transparent
		.wish-box-allsumm
			font-size: 18px
			line-height: 24px 
			color: #BDC1C6 
	.wish-usermessage
		margin: 30px 0 0
		padding: 25px 80px 35px 85px
		border-radius: 3px
		.wish-usermessage-top
			margin-bottom: 25px
			position: relative
		.wish-usermessage-ava
			width: 40px
			height: 40px
			display: inline-block
			vertical-align: middle
			border-radius: 50%
			overflow: hidden
			position: absolute
			top: 0
			left: -60px
			img
				width: 100%
				display: block
		.wish-usermessage-title
			font-size: 20px
			line-height: 27px
			color: #333
			font-weight: 700 
		.wish-usermessage-fio
			font-size: 12px
			line-height: 17px
			color: #BDC1C6 
		.wish-usermessage-descr
			margin-bottom: 25px
			font-size: 16px
			line-height: 22px
			color: #55606E 
	.wish-usermerch
		.wish-usermerch-top
			font-size: 0
			.wish-usermerch-title
				width: 285px
				margin-right: 8px
				display: inline-block
				vertical-align: middle
				font-size: 16px
				line-height: 22px 
				color: #BDC1C6
			.wish-usermerch-img
				width: 120px
				height: 50px
				line-height: 50px
				display: inline-block
				vertical-align: middle
				img
					width: auto
					height: auto
					max-width: 100% 
					max-height: 100%
					line-height: 1
					vertical-align: middle
		.wish-usermerch-more
			font-size: 16px
			color: #4A94F9
			font-weight: 700
			text-decoration: none
			position: relative
			.fa
				font-size: 10px
				position: absolute
				top: 3px
				right: -13px
	.wish-userinfo
		width: 850px
		margin: 0 auto 55px
		font-size: 0
	.wish-userinfo-ava
		width: 80px
		height: 80px
		overflow: hidden
		display: inline-block
		vertical-align: middle
		border-radius: 50%
		overflow: hidden
		img
			width: 100%
			display: block
	.wish-userinfo-descr
		width: 745px
		min-height: 1px
		margin-left: 25px
		display: inline-block
		vertical-align: middle
		font-size: 14px
	.wish-userinfo-title
		font-size: 36px
		line-height: 49px 
		color: #333
		font-weight: 700  
	.wish-userinfo-meta
		font-size: 20px
		line-height: 27px
		color: #333
		+text-overflow
	.wish-userinfo-info
		font-size: 0
		.wish-userinfo-fio
			margin-right: 8px
			color: #BDC1C6
			font-size: 18px
			line-height: 24px 
		.fa-facebook-square
			margin-right: 8px
			font-size: 15px
			color: #4a94f9
		.fa-twitter-square
			margin-right: 8px
			font-size: 15px
			color: #4a94f9 
	.wish-title
		margin-bottom: 50px
		font-size: 36px
		font-weight: bold 
		text-align: center
		color: #333 
	.wish-layout
		margin-bottom: 100px
		+clr
		.wish-col1
			width: 580px
			// padding: 10px
			float: left
		.wish-col2
			width: 480px
			padding: 2px 0 0
			float: right
			.btn-warning
				display: block
				width: 308px
				padding: 21px 13px
				margin: 0 auto
				text-align: center
				font-size: 30px
				font-weight: 400 
		.wish-prod-single
			position: relative
			width: 580px
			height: 360px
			line-height: 360px
			text-align: center
			margin-bottom: 30px
			& > img
				width: auto
				height: auto
				max-height: 100%
				max-width: 100%
				display: inline-block
				vertical-align: middle
		.wish-prod
			position: relative
			.slider-for
				height: 360px
			.wish-slide-next
				width: 100%
				height: 226px
				cursor: pointer
				// background: red
				// opacity: 0.2
				position: absolute
				top: 0
				left: 0
				right: 0
				z-index: 777
		.slider-for
			.wish-media
				img
					width: auto
					height: auto
					max-height: 100%
					max-width: 100%
		.wish-media
			width: 330px
			// height: 360px
			// line-height: 360px
			margin: 0 auto
			margin-bottom: 20px
			text-align: center
			font-size: 0 
			img
				width: auto
				height: auto
				max-height: 100%
				max-width: 100%
				display: inline-block
				vertical-align: middle
		.wish-meta-link
			margin-left: 5px
			display: inline-block
			color: #4a94f9
			font-weight: bold
			text-decoration: none
		.wish-caro
			// width: 532px
			margin: 20px auto 30px
			overflow: hidden
			position: relative
			.wish-caro-prev
				position: absolute
				top: 50%
				left: 0px
				margin-top: -12px
				color: #dfe9f1
				background: transparent
				outline: none
				border: 0
				cursor: pointer
				font-family: "FontAwesome", Arial, Helvetica, sans-serif
				&:hover
					color: #4a94f9
				&.slick-disabled
					opacity: 0.6
					&:hover 
						color: #dfe9f1
			.wish-caro-next
				position: absolute
				top: 50%
				right: 0
				margin-top: -12px
				color: #dfe9f1
				background: transparent
				outline: none
				border: 0
				cursor: pointer
				&:hover
					color: #4a94f9
				&.slick-disabled
					opacity: 0.6
					&:hover
						color: #dfe9f1
		.wish-caro-items
			width: 532px
			margin: 0 auto
			+clr
			+justify
		.wish-caro-item
			width: 160px
			height: 110px
			line-height: 110px
			margin: 0 10px
			border: 1px solid transparent
			cursor: pointer
			text-align: center
			font-size: 0
			&.is-active
				border-color: #4a94f9 
			img
				// width: 100%
				// height: 100%			
				display: inline-block
				vertical-align: middle
				width: auto
				height: auto
				max-height: 100%
				max-width: 100%
		.wish-share
			height: 48px
			border: 1px solid #dfe9f1
			border-radius: 3px
			+clr
			&.m-long
				height: 56px
				.wish-share-num
					line-height: 1
				li
					height: auto
					padding: 0
					// height: 58px
					// padding: 9px 0
					.wish-share-item
						display: block
						height: 40px
						padding: 9px 0
			&.m-four
				li
					width: 20%
					&.wish-share-total
						width: 40%
					.fa
						color: #A7ADB5
						transition: 0.2s color linear
					span
						color: #a7adb5
						transition: 0.2s color linear
					a
						text-decoration: none
						&:hover
							.fa
								color: #4A94F9
							span
								color: #4A94F9
			li
				width: 33.33%
				padding: 8px 0
				height: 50px
				box-sizing: border-box
				border-left: 1px solid #dfe9f1
				box-sizing: border-box
				float: left
				text-align: center
				&:first-child
					border-left: 0
				&.wish-share-total
					font-size: 0
					.wish-share-num
						font-size: 36px
					.wish-share-descr
						font-size: 12px
						line-height: 18px
						font-weight: 700 
				.fa
					margin-right: 10px
					display: inline-block
					vertical-align: middle
					font-size: 36px
					color: #4a94f9 
			.wish-share-num
				display: inline-block
				vertical-align: middle
				font-size: 30px
				font-weight: 700 
				color: #a7adb5
				text-align: center
			.wish-share-descr
				margin-left: 10px
				display: inline-block
				vertical-align: middle
				text-align: left
				font-size: 12px
				font-weight: 700 
				text-transform: uppercase
				color: #a7adb5
	.wish-meta
		margin: 15px 0 25px
		font-size: 16px
		span
			display: inline-block
			color: #a7adb5 
		a
			// margin-left: 5px
			color: #4a94f9
			font-weight: bold
			text-decoration: none
			&:hover
				text-decoration: underline
	.wish-descr
		margin-bottom: 60px
		font-size: 14px
		line-height: 1.8
		color: #333
		.wish-descr-title
			font-size: 14px
			margin-bottom: 10px
			font-weight: bold
			line-height: 1
	.wish-banner
		width: 580px
		height: 136px
		border-radius: 2px
		overflow: hidden
		text-align: center
		&:hover
			a
				background: #00bf5f
				color: #fff
		a, .wish-banner-in
			background: #dfe9f1
			height: 100%
			display: block
			color: #4a94f9
			position: relative
			transition: 0.2s background linear, 0.2s color linear
			&:before
				content: ""
				position: absolute
				bottom: -5px
				left: 0
				+s($s-wish)
		.wish-banner-title
			width: 580px
			position: absolute
			top: 50%
			margin-top: -18px
			text-align: center
			font-size: 30px
			font-weight: 300
	.wish-user
		// +clr
		padding-bottom: 16px
		margin-bottom: 15px
		border-bottom: 1px solid #dfe9f1
		font-size: 0
		&.m-mod
			margin-bottom: 30px
			padding: 30px
			border: 1px solid #dfe9f1
			border-radius: 3px
		.wish-user-ava
			// width: 90px
			// height: 90px
			// width: 100px
			// height: 100px
			width: 80px
			height: 80px
			border-radius: 50%
			// margin-top: 10px
			margin-right: 20px
			overflow: hidden
			// float: left
			display: inline-block
			vertical-align: middle
			img
				width: 100%
		.wish-user-descr
			// max-width: 330px
			max-width: 290px 
			overflow: hidden
			display: inline-block
			vertical-align: middle
		.wish-user-name
			margin-bottom: 10px
			font-size: 18px
			font-weight: 300
			color: #55606e 
		.wish-user-meta
			margin-bottom: 10px
			font-size: 18px
			font-weight: 300
			color: #55606e
		.wish-user-link
			max-width: 310px
			display: block
			margin-bottom: 15px
			font-size: 14px
			color: #a7adb5
			text-decoration: none
			+text-overflow
		.wish-user-social
			+clr
			li
				float: left
				margin-left: 12px
				&:first-child
					margin-left: 0
			a, span
				display: block
				color: #a7adb5
				font-size: 18px
				transition: 0.2s color linear
				&:hover
					color: #4a94f9
			span
				&:hover
					color: #a7adb5
	.ranger
		margin-bottom: 25px
	.wish-share-btn
		margin-top: 25px
		margin-bottom: 30px
		color: #4a94f9
		text-align: center
		a
			text-decoration: none
			color: #4a94f9
		span
			display: inline-block
			vertical-align: middle
			font-size: 18px
		.fa
			margin-left: 10px
			display: inline-block
			vertical-align: middle
			font-size: 24px

.ranger
	position: relative
	// cursor: pointer
	// &:hover
	// 	.ranger-tooltip
	// 		display: block
	.ranger-top
		margin-bottom: 10px
		+clr
	.ranger-price
		float: left
		.ranger-price-collected
			font-size: 36px
			font-weight: 700
			color: #55606e 
		.ranger-price-from
			display: inline-block  
			margin-left: 10px
			font-size: 18px
			color: #a7adb5
		.fa-info-circle
			padding: 10px
			font-size: 18px
			color: #bdc1c6
			cursor: pointer
			position: relative
			z-index: 10
			.ranger-tooltip
				font-family: "Open Sans", sans-serif
	.ranger-day
		margin-top: 17px
		float: right
		font-size: 18px
		font-weight: 700
		color: #a7adb5
	.ranger-day-mobile
		margin-top: 17px
		font-size: 16px
		font-weight: 700
		color: #a7adb5
		text-align: center
	.ranger-slider
		display: inline-block
		width: 100%
		height: 10px
		background: #dfe9f1
		border-radius: 5px
		position: relative
		overflow: hidden
		.ranger-slider-select
			min-width: 10px
			height: 10px
			border-radius: 5px
			position: absolute
			top: 0
			left: 0
			background: #00bf5f
		.ranger-slider-add
			min-width: 3px
			// margin-left: 10px
			height: 100%
			position: absolute
			top: 0
			background: #00bf5f
			border-radius: 0 5px 5px 0
			// border-radius: 5px
			transition: 0.3s all ease
			&:before
				content: ""
				display: block
				width: 5px
				height: 100%
				margin-left: -5px
				background: #00bf5f
			&:after
				content: ""
				min-width: 2px
				height: 4px
				background: #dfe9f1
				border-radius: 0 2px 2px 0
				position: absolute
				top: 50%
				margin-top: -2px
				left: 0
				right: 5px
	.ranger-tooltip
		display: none
		min-width: 200px
		padding: 12px 20px
		position: absolute
		// top: -83px
		// right: -50px
		// right: 20px
		// top: 50px
		top: 35px
		// left: 35px
		right: 0
		background: #fff
		border-radius: 2px
		box-shadow: 0 0 80px rgba(135,155,182,.4)
		&.m-mod
			// min-width: 180px
			text-align: left
			// top: 89px
			// right: 61px
			top: 35px
			left: 35px
		.ranger-tooltip-item
			margin-top: 10px
			&:first-child
				margin-top: 0
		.ranger-tooltip-meta
			width: 95px
			display: inline-block
			font-size: 14px
			font-weight: 700
			color: #a7adb5 
		.ranger-tooltip-summ
			font-size: 24px
			font-weight: 700
			color: #55606e  
 
.chip
	// margin-bottom: 100px
	padding: 30px
	border: 1px solid #dfe9f1
	border-radius: 3px
	.chip-top
		margin-bottom: 30px
		font-size: 18px
		text-align: center
		color: #333
		.chip-top-num
			font-weight: bold 
		.chip-top-meta
			margin-left: 5px
			font-weight: 400
	// .chip-list
	.chip-item
		margin-top: 30px
		+clr
		&:first-child
			margin-top: 0
	.chip-ava
		width: 60px
		height: 60px
		border-radius: 50%
		margin-right: 30px
		float: left
		overflow: hidden
		img
			max-width: 100% 
	.chip-descr
		overflow: hidden
		.chip-descr-topper
			margin-bottom: 10px
		.chip-descr-summ
			font-size: 24px
			color: #00bf5f
			font-weight: 700 
		.chip-descr-time
			margin-left: 10px
			font-size: 12px
			color: #a7adb5
			font-weight: 700
		.chip-descr-name
			font-size: 12px
			text-transform: uppercase
			font-weight: 700
			color: #333
		.chip-descr-cont
			margin-top: 10px
			font-size: 14px
			line-height: 1.8 
			color: #333

.pagi
	position: relative
	.pagi-prev, .pagi-next
		font-size: 24px
		color: #dfe9f1 
		cursor: pointer
		transition: 0.2s color linear
		&:hover
			color: #4a94f9
	.pagi-prev
		width: 110px
		position: absolute
		top: 0
		left: 0
		text-align: left
	.pagi-next
		width: 110px
		position: absolute
		top: 0
		right: 0
		text-align: right
	.pagi-list
		width: 180px
		margin: 35px auto 0
		text-align: center
		font-size: 0
		+clr
		li
			display: inline-block
		span, a
			padding: 0 9px
			font-size: 18px
			text-decoration: none
			cursor: pointer
			color: #4a94f9
			transition: 0.2s color linear
			&:hover
				color: #00bf5f
			&.is-active
				color: #00bf5f

.chip-none
	width: 100%
	height: 183px
	padding: 30px 0
	margin-bottom: 100px
	border: 1px solid #dfe9f1
	border-radius: 3px
	position: relative
	&:before
		content: "\f112"
		font-family: "FontAwesome", Arial, Helvetica, sans-serif
		font-size: 100px
		color: #dfe9f1
		position: absolute
		top: 50%
		left: 50%
		margin-top: -60px
		margin-left: -50px
		transform: rotate(90deg)
	.chip-none-meta
		font-size: 18px
		text-align: center
		color: #333
		strong
			margin-left: 5px


.errorwish
	padding-top: 110px
	.errorwish-in
		@extend %wrap
	.errorwish-l
		margin-bottom: 87px
		+clr
	.errorwish-col1
		width: 600px
		float: left
		position: relative
		&:before
			content: ""
			background: url("../img/png/error-cat.png")
			width: 318px
			height: 361px
			position: absolute
			top: 24px
			right: -462px
	// .errorwish-col2
	// 	width: 300px
	// 	float: left
	.errorwish-title
		margin-bottom: 15px
		padding-left: 20px
		font-size: 36px
		color: #55606e
	.errorwish-meta
		padding-left: 20px
		font-size: 18px
		color: #55606e
		font-weight: 300 
	.errorwish-items
		+clr
		margin-left: -70px
		margin-top: -60px
		.errorwish-item
			width: 300px
			height: 340px
			margin-left: 70px
			margin-top: 60px
			float: left
	.errorwish-friends
		margin: 100px 0
		text-align: center
		.errorwish-friends-meta
			font-size: 18px
			color: #333
			font-weight: 300 
		.errorwish-btn
			margin-top: 46px
			display: inline-block
			padding: 16px 53px
			background: #4a94f9
			border: 2px solid #4a94f9
			border-radius: 3px
			font-size: 18px
			font-weight: 600
			text-decoration: none
			color: #fff
			transition: 0.2s color linear, 0.2s background linear, 0.2s transform linear
			&:hover
				background: #fff
				color: #4a94f9
			&:active
				transform: scale(0.95)
			span
				display: inline-block
				vertical-align: middle
			.fa
				margin-left: 10px
				display: inline-block
				vertical-align: middle
				font-size: 24px
	.errorwish-search
		margin-top: 110px
		.errorwish-search-meta
			margin-bottom: 26px
			padding-left: 17px
			font-size: 18px
			font-weight: 700
			color: #55606e
		.errorwish-search-wrap
			width: 600px
			border: 1px solid #cddce8
			border-radius: 3px
			position: relative
			overflow: hidden
			.errorwish-search-input
				width: 465px
				// height: 60px
				// padding-left: 20px
				padding: 20px 0 16px 19px
				border: 0
				outline: none
				font-size: 18px
				color: #333 
				+placeholder
					color: #bdc1c6
				&:focus
					+placeholder
						color: transparent 
			.errorwish-search-reset
				width: 54px
				height: 60px
				position: absolute
				top: 0
				right: 61px
				border: none
				outline: none
				background: #fff 
				&:before
					content: "\f00d"
					position: absolute
					top: 50%
					right: 50%
					margin-top: -12px
					margin-right: -10px
					font-size: 24px
					line-height: 1
					color: #bdc1c6
					+FontAwesome
					transition: 0.2s opacity linear
				&:hover
					&:before
						opacity: 0.6 
			.errorwish-search-btn
				width: 61px
				height: 60px
				background: #00bf5f
				position: absolute
				top: 0
				right: 0
				border: none
				outline: none
				transition: 0.2s opacity linear
				border-radius: 0 2px 2px 0
				&:before
					content: "\f002"
					width: 20px
					height: 20px
					position: absolute
					top: 50%
					right: 50%
					margin-top: -12px
					margin-right: -9px
					font-size: 24px
					line-height: 1
					color: #fff
					+FontAwesome
				&:hover
					opacity: 0.8 

.wishsuccess
	padding-top: 83px
	.wishsuccess-in
		@extend %wrap
	.wishsuccess-title
		margin-bottom: 42px
		text-align: center
		font-size: 28px
		color: #55606e
		font-weight: 400
		p
			margin-top: 6px
			&:first-child
				margin-top: 0
	.wishsuccess-l
		margin-bottom: 40px
		+clr
		.wishsuccess-col1
			width: 550px
			margin-right: 40px
			float: left
		.wishsuccess-col2
			width: 590px
			float: left
			text-align: center
	.wishsuccess-user
		padding-top: 26px
	.wishsuccess-media
		width: 550px
		height: 335px
		text-align: center
		font-size: 0
		img
			display: inline-block
			width: auto
			height: auto
			max-height: 100%
			max-width: 100%
	.wishsuccess-social
		font-size: 0
		margin-bottom: 22px
		li
			margin-left: 20px
			display: inline-block
			vertical-align: middle
			font-size: 18px
			&:first-child
				margin-left: 0
		a
			display: block
			color: #bdc1c6
			transition: 0.2s color linear
			&:hover
				color: #4A94F9
	.wishsuccess-ava
		width: 130px
		height: 130px
		border-radius: 50%
		overflow: hidden 
		margin: 0 auto 15px
		img
			display: block
	.wishsuccess-price
		color: #55606e
		font-weight: 700
		font-size: 0
		span
			display: inline-block
			vertical-align: middle
			font-size: 30px
		 &.wishsuccess-price-meta
		 	margin: 0 8px
		 	color: #bdc1c6
	.wishsuccess-btn
		display: inline-block
		margin-top: 23px
		padding: 17px 45px
		background: #4a94f9
		border: 2px solid #4a94f9
		border-radius: 3px
		font-size: 18px
		font-weight: 600
		text-decoration: none
		color: #fff
		transition: 0.2s transform linear, 0.2s color linear, 0.2s background-color linear
		&:hover
			background: #fff
			color: #4a94f9
		&:active
			transform:scale(0.95)
	.wishsuccess-items
		+clr
		margin-left: -70px
		margin-top: -60px
		.wishsuccess-item
			width: 300px
			height: 340px
			margin-left: 70px
			margin-top: 60px
			float: left 
	.wishsuccess-friends
		margin: 96px 0
		text-align: center
		.wishsuccess-friends-meta
			font-size: 18px
			color: #333
			font-weight: 300 
		.wishsuccess-btn
			margin-top: 46px
			padding: 16px 53px
			span
				display: inline-block
				vertical-align: middle
			.fa
				margin-left: 10px
				display: inline-block
				vertical-align: middle
				font-size: 24px

// wish.html slider
#cycle-1 div
	width: 580px
	height: 360px
	line-height: 360px
	margin: 0 auto
	margin-bottom: 20px
	text-align: center
	font-size: 0

#cycle-1 div img
	width: auto
	height: auto
	max-height: 100%
	max-width: 100%
	display: inline-block
	vertical-align: middle

#cycle-2 .cycle-slide
	width: 160px
	height: 112px
	line-height: 112px
	margin: 0 7px
	border: 1px solid transparent
	cursor: pointer
	text-align: center
	font-size: 0

#cycle-2 .cycle-slide-active
	border-color: #4a94f9

#carousel .cycle-slideshow img
	display: inline-block
	vertical-align: middle
	width: auto
	height: auto
	max-height: 100%
	max-width: 100%

#carousel
	position: relative
	width: 532px
	margin: 0 auto 30px

#carousel div img
	width: 150px
	height: 150px

.wish-caro-prev, .wish-caro-next	
	position: absolute
	top: 50%
	margin-top: -12px
	color: #dfe9f1
	background: transparent
	outline: none
	border: 0
	cursor: pointer
	font-family: "FontAwesome", Arial, Helvetica, sans-serif
	cursor: pointer
	&.disabled
		opacity: 0.5
.wish-caro-prev
	left: -20px
.wish-caro-next
	right: -20px

.wish-caro-prev, .wish-caro-next
	&:hover
		color: #4a94f9

.wish-caro-prev, .wish-caro-next
	&.disabled
		&:hover
			color: #dfe9f1
			
.gz-is-overlay
	-webkit-filter: grayscale(100%)
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale")
	filter: grayscale(100%)
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	cursor: default


