#checkoutLog, #checkoutMail, #checkoutForgot, #checkoutPass, #checkoutPay, #checkoutPayForm {
  display: none;
}

.wishroundCheckoutPopup .md-content {
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  margin: 0px auto 0px;
  padding: 30px 40px 0;
  box-sizing: border-box;
  box-shadow: none;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  position: relative;
}

.wishroundCheckoutPopup .md-close.fa {
  width: 36px;
  font-size: 36px;
  padding: 13px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  color: #a7adb5;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  text-align: center;
  top: 0;
  right: 0;
  outline: none;
}

.wishroundCheckoutPopup .md-close.fa:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#checkoutLoader {
  height: 365px;
  text-align: center;
}

#checkoutLoader .fa-spinner {
  -webkit-animation: spin 1.75s infinite linear;
  animation: spin 1.75s infinite linear;
  font-size: 120px;
  color: #00bf5f;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

#checkoutLog {
  max-width: 375px;
  height: 335px;
  margin: 0 auto;
  text-align: center;
}

#checkoutLog .checkout-log {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #55606e;
}

#checkoutLog .checkout-fb {
  display: block;
  padding: 19px 13px 18px;
  border-radius: 2px;
  font-size: 18px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #3f67bc;
  color: #fff;
  background: #3f67bc;
}

#checkoutLog .checkout-fb:hover {
  background-color: #fff;
  border-color: #3f67bc;
  color: #3f67bc;
}

#checkoutLog .checkout-fb:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#checkoutLog .checkout-fb span, #checkoutLog .checkout-fb .fa {
  display: inline-block;
  vertical-align: middle;
}

#checkoutLog .checkout-fb .fa {
  font-size: 24px;
}

#checkoutLog .checkout-log-list {
  padding-bottom: 50px;
  font-size: 0;
  text-align: center;
}

#checkoutLog .checkout-log-list li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 25px;
}

#checkoutLog .checkout-log-list li:first-child {
  margin-left: 0;
}

#checkoutLog .checkout-log-list a {
  display: block;
  font-size: 0;
  text-decoration: none;
  color: #4a94f9;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#checkoutLog .checkout-log-list a:hover {
  color: #3f67bc;
}

#checkoutLog .checkout-log-list a .fa {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-right: 8px;
}

#checkoutLog .checkout-log-list a span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

#checkoutMail .checkoutmail-top {
  position: relative;
}

#checkoutMail .fa-arrow-left {
  position: absolute;
  top: 11px;
  left: 5px;
  cursor: pointer;
  color: #4a94f9;
}

#checkoutMail .checkoutmail-title {
  margin-bottom: 40px;
  padding-top: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

#checkoutMail .checkoutmail-row {
  margin-top: 30px;
}

#checkoutMail .checkoutmail-row:first-child {
  margin-top: 0;
}

#checkoutMail .checkoutmail-row .forgot-pass {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 20px;
  z-index: 999;
  font-size: 18px;
  color: #4a94f9;
  cursor: pointer;
}

#checkoutMail .checkoutmail-row .forgot-pass:hover {
  text-decoration: underline;
}

#checkoutForgot .checkoutforgot-top {
  position: relative;
}

#checkoutForgot .checkoutforgot-top .fa-arrow-left {
  position: absolute;
  top: 11px;
  left: 5px;
  cursor: pointer;
  color: #4a94f9;
}

#checkoutForgot .checkoutforgot-top .checkoutforgot-title {
  margin-bottom: 40px;
  padding-top: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

#checkoutForgot .checkoutforgot-form {
  margin-top: 93px;
  padding-bottom: 60px;
}

#checkoutForgot .checkoutforgot-form .checkoutforgot-row {
  margin-top: 30px;
}

#checkoutForgot .checkoutforgot-form .checkoutforgot-row:first-child {
  margin-top: 0;
}

.checkoutsend .checkoutsend-title {
  margin-top: 14px;
  margin-bottom: 95px;
  font-size: 18px;
  font-weight: 700;
  color: #55606e;
  text-align: center;
}

.checkoutsend .checkoutsend-meta {
  font-size: 18px;
  line-height: 28px;
  color: #bdc1c6;
  text-align: center;
}

.checkoutsend .checkoutsend-meta span {
  margin: 0;
}

.checkoutsend .btn-success {
  margin-top: 20px;
  margin-bottom: 70px;
}

#checkoutPay .checkoutpay-head {
  margin: -10px -40px 0 -40px;
  text-align: center;
  border-bottom: 1px solid #dfe9f1;
}

#checkoutPay .checkoutpay-head img {
  margin-bottom: 5px;
  display: inline-block;
}

#checkoutPay .checkoutpay-head .checkoutpay-meta {
  margin-bottom: 23px;
  font-size: 16px;
  color: #55606e;
}

#checkoutPay .checkoutpay-content.is-money-left .checkoutpay-money-left {
  display: block;
}

#checkoutPay .checkoutpay-l {
  margin: 40px 0;
  font-size: 0;
}

#checkoutPay .checkoutpay-l .checkoutpay-col1 {
  width: 209px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

#checkoutPay .checkoutpay-l .checkoutpay-col2 {
  width: 169px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

#checkoutPay .checkoutpay-media {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

#checkoutPay .checkoutpay-media img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#checkoutPay .checkoutpay-name {
  max-width: 119px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: #333;
}

#checkoutPay .checkoutpay-note {
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #bdc1c6;
}

#checkoutPay .checkoutpay-price {
  font-size: 28px;
  font-weight: 700;
  color: #55606e;
}

#checkoutPay .checkoutpay-money-left {
  display: none;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

#checkoutPayForm {
  margin: 0 -40px;
}

#checkoutPayForm .checkoutform-top {
  padding-bottom: 35px;
  margin: 0;
  border-bottom: 1px solid #dfe9f1;
  text-align: center;
}

#checkoutPayForm .checkoutform-top .heckoutform-meta {
  font-size: 16px;
  color: #55606e;
}

#checkoutPayForm .payment .payment-form {
  width: 374px;
  margin: 0px auto 0px;
}

#checkoutPayForm .payment .payment-row {
  margin-bottom: 32px;
}

#checkoutPayForm .payment .payment-row.m-ssl {
  margin-top: 0;
  margin-bottom: 0;
}

#checkoutPayForm .payment .payment-label.m-50 {
  width: 172px;
}

#checkoutPayForm .payment .payment-label.m-50:first-child {
  margin-right: 30px;
}

#checkoutPayForm .payment .payment-ssl .payment-ssl-meta {
  margin-left: 0;
}

#checkoutPayForm .tooltip-card-error {
  display: none;
  opacity: 0;
  max-width: 380px;
  min-width: 340px;
  box-shadow: 0 0 80px rgba(135, 155, 182, 0.4);
  padding: 15px 15px;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 15px;
  margin-top: -14px;
  z-index: 1888;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #55606e;
  background: #fdf1d7;
}

#checkoutPayForm .tooltip-cvv-error {
  display: none;
  opacity: 0;
  max-width: 380px;
  min-width: 340px;
  box-shadow: 0 0 80px rgba(135, 155, 182, 0.4);
  padding: 15px 15px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 15px;
  z-index: 1888;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #55606e;
  background: #fdf1d7;
}

#checkout-payment-form {
  width: 100%;
  height: 475px;
  border: 0;
}
