@import "../lib/mixins";
@import "../lib/sprite";

//
//
/* GENERAL style */
//
//
$green: #00BF5F
$dark_green: #00994C

%wrap
	width: 940px
	margin-left: auto
	margin-right: auto
	padding-left: 10px
	padding-right: 10px
	
.align-right
	text-align: right


.out
	overflow: hidden

//	
//
/* HEADER style */
//
//
header
	min-width: 960px
	padding: 9px 0
	position: fixed
	top: 0
	left: 0
	right: 0 
	z-index: 3333
	background: linear-gradient(top, rgba(#818181, .52) 0%, rgba(#4A4A4A, .52) 100%)
	transition: 0.2s background linear
	&.is-scroll
		background: rgba(#4A4A4A, .8)
		.create-campain
			z-index: 11
			opacity: 1 
	.header-in
		@extend %wrap
		position: relative
		+clr
	.header-row
		+clr
	.header-col1
		width: 280px
		float: left
	.header-col2
		width: 660px
		margin-top: 13px
		float: right
		text-align: left
		font-size: 0

.landing-nav
	display: inline-block
	vertical-align: middle
	text-align: center
	overflow: hidden
	+clr
	li
		display: inline-block
		vertical-align: middle
		margin-left: 20px
		&.active
			a
				color: #ff3a3a 
		&:first-child
			margin-left: 0
	a
		display: block
		font-size: 13px
		color: #fff
		font-weight: 700 
		text-decoration: none
		transition: 0.2s color linear

.create-campain
	margin-left: 35px
	display: inline-block
	vertical-align: middle
	text-decoration: none
	padding: 7px 30px 7px
	font-size: 14px
	font-weight: 700
	text-decoration: none
	border-radius: 34px
	position: relative
	z-index: -1
	opacity: 0
	background: $green
	box-shadow: 0 2px 0px $dark-green
	color: #fff 
	transition: 0.2s background linear, 0.2s color linear, 0.2s opacity linear, 0.2s transform linear
	&:active
		transform:scale(0.95)
	&:hover
		background: $dark-green

.landing-home
	width: 161px
	height: 45px
	margin-top: 10px
	float: left

//
//
/* SLIDER style */
//
//
#section1
	height: 100%
	position: relative
	.how-work
		width: 100%
		position: absolute
		// top: 100%
		bottom: 0
		padding: 50px 0
		z-index: 1001
		&.m-label
			background: #4F607A
		.how-work-i
			@extend %wrap
			// padding-top: 50px
			// padding-bottom: 50px
			font-size: 0
		.how-work-col1
			width: 430px
			display: inline-block
			vertical-align: middle
		.how-work-col2
			width: 510px
			display: inline-block
			vertical-align: middle
		.how-work-title
			font-size: 30px
			font-weight: 700
			color: #fff
			position: relative
			&:before
				content: ""
				width: 119px
				height: 2px
				background: #fff 
				position: absolute
				z-index: 999
				left: 0
				bottom: -20px
		.how-work-content
			font-size: 16px
			line-height: 30px
			color: #fff
.landing-slider
	width: 100%
	height: 100%
	min-height: 500px
	+cover
	background-position: 50% bottom
	color: #fff
	+clr
	&:before
		content: ""
		width: 560px
		height: 3400px
		position: absolute
		top: -350px
		left: 630px
		background: rgba(#fff, .33) 
		-webkit-transform: rotate(-45deg)
		-moz-transform: rotate(-45deg)
		transform: rotate(-45deg)
	&:after
		content: ""
		width: 100%
		height: 100%
		display: block
		position: absolute
		top: 0px
		bottom: 0
		background: rgba(#000, .5)
		z-index: 999
	.landing-slider-i
		@extend %wrap
		width: 900px
		padding-top: 130px
		padding-right: 50px
		position: relative
		z-index: 1001
	.landing-slider-wrap
		margin-left: 280px 
	.landing-slider-title
		margin-bottom: 30px
		font-size: 30px
		line-height: 41px
		font-weight: 700 
	.landing-slider-content
		margin-bottom: 40px
		font-size: 16px
		line-height: 21px
		p
			margin-top: 15px
			&:first-child
				margin-top: 0
	.landing-slider-btn
		padding: 6px 45px
		margin-right: 20px
		border-radius: 17px
		display: inline-block
		background: $green
		box-shadow: 0 2px 0px $dark-green
		font-size: 16px
		line-height: 22px
		font-weight: 700
		color: #fff
		text-decoration: none
		transition: 0.2s background linear, 0.1s transform linear
		&:hover
			background: $dark-green
		&:active
			transform:scale(0.95)


//
//
/* SECTION2 style */
//
//
#section2
	width: 100%
	// min-height: 600px //
	min-height: 530px
	box-sizing: border-box
	background: #94C0FD
	.how-work
		padding-top: 40px
	.how-work-ico
		margin-bottom: 18px
		text-align: center
	.how-work-title
		height: 44px
		margin-bottom: 20px
		font-size: 16px
		line-height: 1.4 
		font-weight: bold
	.how-work-content
		font-size: 14px
		line-height: 18px

.how-work
	.how-work-i
		@extend %wrap
	.how-work-list
		+clr
	li
		width: 20%
		padding-right: 5%
		float: left
		font-size: 14px
		color: #fff

//
//
/* SECTION3 style */
//
//
#section3
	width: 100%
	padding-top: 135px
	padding-bottom: 100px
	min-height: 300px //
	background: #94C0FD

.about-service
	.about-service-i
		@extend %wrap
	.about-service-l
		+clr
	.about-service-col1
		width: 435px
		float: left
	.about-service-col2
		width: 300px
		float: right
		text-align: center
	.about-service-text
		font-size: 16px
		line-height: 28px
		color: #fff 
		p
			margin-bottom: 10px
	.about-service-title
		margin-bottom: 45px
		font-size: 30px
		line-height: 41px
		font-weight: 700
		position: relative
		&:before
			content: ""
			width: 119px
			height: 2px
			background: #fff
			position: absolute
			left: 0
			bottom: -10px 
	.about-media
		display: none
		font-size: 14px
	.about-video
		display: block
		.about-video-ico
			margin-bottom: 10px
		.about-video-title
			margin-bottom: 15px
			padding-left: 50px
			font-size: 20px
			line-height: 27px
			color: #fff 
			font-weight: 700 

#really-cool-video
	height: 260px
.vjs-big-play-button
	display: none !important

//
//
/* SECTION4 style */
//
//
#section4
	width: 100%
	height: 400px
	overflow: visible
	position: relative
	z-index: 1001
	.landing-review-bg
		width: 100%
		height: 400px
		+cover
		position: absolute
		top: 0
		left: 0
		&:before
			content: ""
			background: rgba(#2E3848, .7)
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
		&:after
			content: ""
			width: 800px
			height: 600px
			background: rgba(#fff, .2)
			transform: rotate(-45deg)
			position: absolute
			bottom: -400px
			left: -600px
	.landing-review-i
		width: 960px
		height: 100%
		margin: 0 auto
		position: relative
		+clr
	.landing-review-wrap
		width: 340px
		margin-right: 10px
		float: right
		position: relative
	.fa-angle-left
		font-size: 30px
		color: #FFF
		position: absolute
		top: 50%
		margin-top: -55px
		left: -50px
		font-family: "FontAwesome", Arial, Helvetica, sans-serif
		cursor: pointer
	.fa-angle-right
		font-size: 30px
		color: #FFF
		position: absolute
		top: 50%
		margin-top: -55px
		right: -50px
		cursor: pointer
	.slick-dots
		bottom: 70px
		li
			&.slick-active
				button
					margin-top: 0
					width: 16px
					height: 16px
		button
			margin-top: 3px
			height: 10px
			width: 10px
			border-color: #fff
			opacity: 1
			border-radius: 0
	.landing-review-content
		@extend %wrap
		height: 400px
		position: relative
	.landing-review-items
		width: 400px
		color: #fff
		position: absolute
		top: 50px
		right: 0px
		z-index: 999
	.landing-review-item
		height: 400px
	.landing-review-title
		margin-bottom: 10px
		font-size: 30px
		font-weight: 700 
	.landing-review-text
		font-size: 14px
		line-height: 1.4 

#section5
	height: 470px
	line-height: 470px
	text-align: center

.landing-partners
	line-height: 1.2
	margin: 0px 0 0
	.landing-partners-item img
		transform: scale(0.4)
		transition: 0.4s transform linear, 0.3s opacity linear
	.slick-active + .slick-active img
		opacity: 1
		transform: scale(1)
	.slick-active img,
	.slick-active + .slick-active + .slick-active img
		opacity: 0.49
		transform: scale(0.4)
	.slick-active,
	.slick-active + .slick-active + .slick-active
		.landing-partners-item-descr
			opacity: 0
			transition: 0s opacity linear
	.slick-active + .slick-active
		.landing-partners-item-descr
			opacity: 1
			transition: 0.5s opacity linear
.landing-partners-i
	@extend %wrap
	position: relative
	display: inline-block
	vertical-align: middle
	line-height: 1
	.js-partners-prev, .js-partners-next
		font-size: 30px
		position: absolute
		top: 50%
		margin-top: 50px
		cursor: pointer
		outline: none
		border: 0
		color: #4A4A4A 
		z-index: 100
	.js-partners-prev
		left: -40px
	.js-partners-next
		right: -40px 
.landing-partners-items
	width: 650px
	margin: 0 auto
	+clr
	position: relative
	&:before, &:after
		content: ""
		position: absolute
		left: 50%
		margin-left: -10px
	&:before
		top: -50px
		background: url("../../img/png/bracket_2.png")
		width: 19px
		height: 15px
		background-size: 19px 15px
	&:after
		bottom: -50px
		background: url("../../img/png/bracket_1.png")
		width: 19px
		height: 15px
		background-size: 19px 15px
.landing-partners-item
	margin: 0 0px
	display: inline-block
	vertical-align: middle
	text-align: center
	position: relative
	transition: 0.3s transform linear
	img
		width: auto
		height: auto
		max-width: 100%
		max-height: 100%
	a
		display: inline-block
		text-decoration: none
.landing-partners-item-descr //
	min-height: 112px
	opacity: 0
	margin: 0 -160px 35px
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif
	font-style: italic
	font-weight: 400
	font-size: 24px
	line-height: 1.2
	color: #4A4A4A
	letter-spacing: 1px

footer
	padding-top: 13px
	padding-bottom: 15px
	background: #7D93B4
	position: relative
	transition: 0.3s padding ease-in-out
	&:before
		content: ""
		width: 600px
		height: 400px
		background: rgba(255, 255, 255, 0.2)
		transform: rotate(-60deg)
		position: absolute
		bottom: -100px
		left: -210px
	.footer-in
		@extend %wrap
		width: 960px
	.footer-l
		+clr
	.footer-col1
		width: 220px
		height: 100px
		float: left
		position: relative
	.footer-col2
		width: 235px
		float: left
	.footer-col3
		width: 230px
		float: right
	.footer-col4
		width: 230px
		float: right
	.footer-logo
		position: absolute
		top: 50%
		margin-top: -20px
		left: 0
	.gray-logo
		width: 295px
		height: 80px
		background-size: 295px 80px
		display: inline-block
		vertical-align: top
	.footer-blanding-nav
		li
			height: 19px
			line-height: 1 
			a
				display: inline-block
				vertical-align: top
				font-size: 12px
				line-height: 17px
				color: #fff
				text-decoration: none
				&:hover
					span
						color: #00C772
						text-decoration: underline
					.fa
						color: #00C772
			span, i
				display: inline-block
				vertical-align: middle
			i
				font-size: 15px
				width: 20px
			.fa-desktop, .fa-mobile
				margin-right: 3px
				font-weight: 400 
			.fa-mobile
				font-size: 20px

// MOBILE PAGE
.mobile-landing
	min-width: 100% 
	header
		min-width: 100%
		position: fixed
		padding-top: 0
		padding-bottom: 0
		background: #fff
		border-bottom: 1px solid #00BF5F
		.header-in
			width: 100%
			padding-left: 10px
			padding-right: 10px 
			height: 60px
			box-sizing: border-box
			.logo-white
				width: 100px
		.landing-home
			width: 100px
			.wishround-font
				fill: #4A4A4A
			path
				fill: #00BF5F
		&.m-mobile-scroll
			.create-campain
				opacity: 1
				z-index: 1
		.create-campain
			float: right
			margin: 13px 40px 0 0
			padding: 7px 10px
			font-size: 14px
	.landing-nav
		display: none
		padding: 10px 0
		background: rgba(#FFF, .95)
		border-top: 1px solid $green
		position: absolute
		top: 60px
		left: 0
		right: 0
		li
			display: block
			margin-left: 0
			line-height: 1
			font-size: 0
		a
			display: inline-block
			padding: 8px 10px
			font-size: 11px
			line-height: 14px
			color: #4A4A4A
			&:hover
				color: $green
				text-decoration: underline
	.nav-mobile
		display: block
		width: 24px
		height: 21px
		position: absolute
		top: 50%
		margin-top: -10px
		right: 10px
		-webkit-transition: 0.2s -webkit-transform ease
		transition: 0.2s transform ease
		cursor: pointer
		z-index: 1111
		&.is-active
			transform: rotate(90deg)
			i
				background: #00BF5F 
		i
			border-radius: 0
			margin-top: 4px
			display: block
			width: 24px
			height: 4px
			background: #55606e
			&:first-child
				margin-top: 0
	.nav-overlay
		display: none
		background: none 
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 2222
	#section1
		height: auto
		.landing-slider
			min-height: 400px
			padding-bottom: 90px
			&:before
				content: none
			.landing-slider-i
				width: 260px
				padding-right: 10px
			.landing-slider-wrap
				margin-left: 0
			.landing-slider-title
				font-size: 20px
			.landing-slider-content
				font-size: 13px
	#section3
		padding-top: 25px
		padding-bottom: 50px
		.about-service-i
			width: 300px
		.about-service
			text-align: center
		.about-service-title
			margin-bottom: 35px
			font-size: 20px
			line-height: 27px
			color: #fff
			&:before
				width: 120px
				left: 50%
				margin-left: -60px
		.about-service-text
			margin-top: 20px
			font-size: 13px
			line-height: 18px
			text-align: left
		#really-cool-video
			height: 169px
	#section2
		.how-work
		.how-work-i
			width: 300px
		.how-work-meta
			text-align: center
			font-size: 20px
			line-height: 27px
			color: #fff 
			position: relative
			&:before
				content: ""
				width: 120px
				height: 2px
				background: #fff
				position: absolute
				left: 50%
				margin-left: -60px
				bottom: -10px
		.how-work-list
			padding-bottom: 50px
			li
				width: 260px
				margin: 40px auto 0
				padding-right: 0
				float: none
		.how-work-title
			height: auto
	#section4
		height: 400px
		background: #94C0FD 
		padding-bottom: 20px
		.landing-review-content
			width: 280px
			margin: 0 auto
		.landing-review-items
			width: 280px
			padding: 30px 30px
			position: static
			background: #59677C 
		.landing-review-item
			height: 340px
			overflow: hidden
		.landing-review-title
			font-size: 20px
			text-align: center
		.landing-review-text
			font-size: 14px
			line-height: 22px
		.fa-angle-left
			left: 20px
		.fa-angle-right
			right: 20px
	#section5
		margin: 60px auto 60px
		height: auto
		line-height: 1.2
		.landing-partners-i
			width: 100%
			box-sizing: border-box
		.landing-partners-items
			width: 280px
			&:before
				top: -30px
			&:after
				bottom: -30px
		.js-partners-next
			right: -10px
			top: auto
			margin-top: 0
			bottom: 30px 
		.js-partners-prev
			left: -10px
			top: auto
			margin-top: 0
			bottom: 30px 
		.landing-partners-item-descr
			// min-height: 112px
			min-height: 82px
			margin: 0 0px 10px
			font-size: 13px
		.landing-partners-item img
			transform: scale(0.8)
			// transition: 0.4s transform linear, 0.3s opacity linear
		.slick-active + .slick-active img
			opacity: 1
			transform: scale(0.8)
		.slick-active img,
		.slick-active + .slick-active + .slick-active img
			opacity: 1
			transform: scale(0.8)
		.slick-active,
		.slick-active + .slick-active + .slick-active
			.landing-partners-item-descr
				opacity: 1
				// transition: 0s opacity linear
		.slick-active + .slick-active
			.landing-partners-item-descr
				opacity: 1
				// transition: 0.5s opacity linear
	footer
		padding-bottom: 50px
		&:before
			content: none
		.footer-in
			width: 100%
			box-sizing: border-box
		.footer-l
			width: 100%
		.footer-col1
			width: 105px
			margin-right: 30px 
			svg
				width: 100%
		.footer-col4
			width: 100%
			position: absolute
			bottom: 0
			left: 0
			right: 0
			.footer-blanding-nav
				width: 100%
				+clr
				li
					width: 33.33333%
					height: 35px
					line-height: 35px
					float: left
					text-align: center
					a
						display: block
						height: 100%
						line-height: 34px
						background: #9B9B9B
						&:hover
							background: #D8D8D8
							color: #fff
							span
								text-decoration: none
							i, span
								color: #fff 
		.footer-col2
			display: none
			.footer-blanding-nav
				li
					opacity: 0
					position: relative
					z-index: -1
		.footer-col3
			width: 150px
			float: right


//
//
/* MEDIA style */
//
//
@media only screen and (max-width: 960px)
	header
		position: absolute
		
@media only screen and (min-height: 780px)
	.landing-slider
		.landing-slider-i
			padding-top: 180px

@media only screen and (min-height: 880px)
	.landing-slider
		.landing-slider-i
			padding-top: 230px

@media only screen and (min-height: 980px)
	.landing-slider
		.landing-slider-i
			padding-top: 280px

@media only screen and (min-width: 1300px)
	#section1
		.landing-slider
			&:before
				left: 680px

@media only screen and (min-width: 1500px)
	#section1
		.landing-slider
			&:before
				left: 700px



