﻿1) типографика http://habrahabr.ru/company/pechkin/blog/259909/
2) от А до Я для чайников http://habrahabr.ru/post/252279/
3) отступы/абзацы http://habrahabr.ru/post/157309/
4) how-to http://habrahabr.ru/company/pechkin/blog/255819/

— Если картинка несет смысловую нагрузку(например это логотип или важное изображение), то ему надо задать ширину через атрибут width, высоту соответственно через height, title — на ваше усмотрение, alt — для того, чтобы дать описание непрогруженному изображению, и заинтересовать пользователя прогрузить ее.

— Если же картинка смысла не несет, а является украшением(тень, ленточка), то ничего вышеуказанного просто не задаем. Пользователь не увидит ее пока не включит все изображения в письме. Применимо при условии, что отсутствие размеров не порушит верстку. Иначе размеры стоит указать.

============================ обьязательный набор свойств для тегов ============================

<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-collapse: collapse;"><table>
[border]
[cellpadding]
[cellspacing]
[style="margin:0; padding:0; border-collapse: collapse;"]
[<tr><td colspan="2" height="30"></td></tr>]

<tr></tr>

<td class="body-text"></td>

<span style="color: #55606e; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 48px; line-height: 1; font-weight: 300;"></span>
[font-family]
[font-size]
[line-height]
[color]
[НЕЖЕЛАТЕЛЬНО ДЕЛАТЬ padding (лучше для td)]
<img src="" alt="" border="0" width="" height="" style="display: block;">
[alt]
[border]
[width]
[height]
[style="display: block;"]
<a href="#" target="_blank" style="color: #4a94f9; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 48px; line-height: 1; text-decoration: none; font-weight: 300;"></a>
[target="_blank"]
[font-family]
[font-size]
[line-height]
[color]
