body#landing-group.is-fullpage-destroy #section0 {
  min-height: 600px;
  line-height: 600px;
  text-align: center;
}

body#landing-group.is-fullpage-destroy #section0 .landing-slider-i {
  margin-top: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

body#landing-group.is-fullpage-destroy #section1 {
  margin-bottom: 0;
  min-height: 500px;
  line-height: 500px;
  text-align: center;
}

body#landing-group.is-fullpage-destroy #section1 .landing-video-l {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

body#landing-group.is-fullpage-destroy #section1 .landing-video-ico1, body#landing-group.is-fullpage-destroy #section1 .landing-video-ico2, body#landing-group.is-fullpage-destroy #section1 .landing-video-ico3, body#landing-group.is-fullpage-destroy #section1 .landing-video-ico4, body#landing-group.is-fullpage-destroy #section1 .landing-video-ico5, body#landing-group.is-fullpage-destroy #section1 .landing-video-ico6 {
  display: none;
}

body#landing-group.is-fullpage-destroy #section2 {
  margin-bottom: 0;
  min-height: 450px;
}

body#landing-group.is-fullpage-destroy #section2 .landing-benefits-ico1, body#landing-group.is-fullpage-destroy #section2 .landing-benefits-ico2, body#landing-group.is-fullpage-destroy #section2 .landing-benefits-ico3, body#landing-group.is-fullpage-destroy #section2 .landing-benefits-ico4, body#landing-group.is-fullpage-destroy #section2 .landing-benefits-ico5 {
  display: none;
}

body#landing-group.is-fullpage-destroy #section3 {
  margin-bottom: 0;
  min-height: 650px;
  line-height: 650px;
}

body#landing-group.is-fullpage-destroy #section3 .video-js {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

body#landing-group.is-fullpage-destroy #section3 .video-js .vjs-tech {
  display: none;
}

body#landing-group.is-fullpage-destroy #section3 .vjs-poster {
  background-size: cover;
  background-position: 50% 0%;
  width: 100%;
  display: block;
}

body#landing-group.is-fullpage-destroy #section3 .landing-review-i {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

body#landing-group.is-fullpage-destroy #section3 .landing-review-i .landing-review-items {
  right: 10px;
}

body#landing-group.is-fullpage-destroy #section4 {
  min-height: 400px;
  line-height: 400px;
  text-align: center;
}

body#landing-group.is-fullpage-destroy #section4 .landing-partners-ico1, body#landing-group.is-fullpage-destroy #section4 .landing-partners-ico2, body#landing-group.is-fullpage-destroy #section4 .landing-partners-ico3, body#landing-group.is-fullpage-destroy #section4 .landing-partners-ico4, body#landing-group.is-fullpage-destroy #section4 .landing-partners-ico5, body#landing-group.is-fullpage-destroy #section4 .landing-partners-ico6 {
  display: none;
}

body#landing-group.is-fullpage-destroy #section4 .landing-partners {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

body#landing-group.is-fullpage-destroy #section4 footer {
  position: relative;
  z-index: 10;
  line-height: 1;
  text-align: left;
}

body#landing-group header {
  background: transparent;
  box-shadow: none;
  -webkit-transition: 0.2s background linear;
  transition: 0.2s background linear;
  padding-top: 0;
  padding-bottom: 0;
}

body#landing-group header.is-animate {
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 9px 6px rgba(159, 195, 217, 0.2);
}

body#landing-group header.is-animate .create-campain {
  opacity: 1;
  z-index: 10;
}

body#landing-group header.is-animate .landing-nav li.active a {
  color: #00BF5F;
}

body#landing-group header.is-animate .landing-nav a {
  color: #505050;
}

body#landing-group header .header-in {
  padding-bottom: 5px;
  padding-top: 5px;
}

body#landing-group header .header-in:before, body#landing-group header .header-in:after {
  content: "";
  display: table;
}

body#landing-group header .header-in:after {
  clear: both;
}

body#landing-group header .logo-white {
  float: left;
  display: block;
  text-decoration: none;
}

body#landing-group header .landing-home {
  float: left;
  margin-top: 7px;
  height: 38px;
}

body#landing-group header svg path {
  fill: #00bf5f;
}

body#landing-group header svg path.wishround-font {
  fill: #333;
}

body#landing-group .landing-nav {
  text-align: center;
  margin: 13px 30px 10px;
  overflow: hidden;
}

body#landing-group .landing-nav:before, body#landing-group .landing-nav:after {
  content: "";
  display: table;
}

body#landing-group .landing-nav:after {
  clear: both;
}

body#landing-group .landing-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

body#landing-group .landing-nav li.active a {
  color: #ff3a3a;
}

body#landing-group .landing-nav a {
  display: block;
  color: #4A4A4A;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

body#landing-group .create-campain {
  background: #00BF5F;
  box-shadow: inset 0 -3px 0 #03A352;
  color: #fff;
}

body#landing-group .create-campain:hover {
  background: #03A352;
}

body#landing-group .landing-slider .landing-slider-text {
  color: #000;
}

body#landing-group .landing-slider .landing-slider-i {
  margin-top: 0px;
  position: static;
}

body#landing-group .landing-slider .landing-slider-i:before {
  content: "";
  width: 540px;
  height: 570px;
  background: url("../../img/png/landing_group_gift.jpg");
  position: absolute;
  top: 50%;
  margin-top: -280px;
  right: 0;
}

body#landing-group .landing-slider .landing-slider-row .landing-slider-list a, body#landing-group .landing-slider .landing-slider-row .landing-slider-list span {
  color: #4A4A4A;
}

body#landing-group .landing-slider .landing-slider-row .landing-slider-btn {
  background: #00BF5F;
  box-shadow: inset 0 -3px 0 #03A352;
  color: #fff;
}

body#landing-group .landing-slider .landing-slider-row .landing-slider-btn:hover {
  background: #03A352;
}

body#landing-group .landing-video .landing-video-descr {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

body#landing-group .landing-video .landing-video-descr p {
  margin-top: 13px;
}

body#landing-group .landing-video .landing-video-descr p:first-child {
  margin-top: 0;
}

body#landing-group .landing-video .landing-video-title {
  margin-bottom: 65px;
  color: #4A4A4A;
}

body#landing-group .landing-video .landing-video-title:before {
  background: #00BF5F;
}

body#landing-group .landing-video .landing-video-descr {
  color: #4A4A4A;
  letter-spacing: 0.5px;
}

body#landing-group .landing-video .landing-video-ico1 {
  background: url("../../img/png/group_landing_anim_ico1.png");
  width: 100px;
  height: 97px;
  position: absolute;
  top: 20px;
  left: 0px;
  opacity: 0.3;
}

body#landing-group .landing-video .landing-video-ico2 {
  background: url("../../img/png/group_landing_anim_ico2.png");
  width: 46px;
  height: 47px;
  position: absolute;
  top: 80px;
  left: 48%;
  opacity: 0.3;
}

body#landing-group .landing-video .landing-video-ico3 {
  background: url("../../img/png/group_landing_anim_ico3.png");
  width: 138px;
  height: 169px;
  position: absolute;
  top: 40px;
  right: 40px;
  opacity: 0.3;
}

body#landing-group .landing-benefits .landing-benefits-meta {
  width: 100%;
  margin: 0 auto 50px;
  color: #3D3C40;
}

body#landing-group .landing-benefits .landing-benefits-meta:before {
  background: #00BF5F;
}

body#landing-group .landing-benefits .landing-benefits-title {
  margin-bottom: 27px;
}

body#landing-group .landing-benefits .landing-benefits-ico {
  width: 187px;
  margin-bottom: 30px;
  border: none;
  text-align: center;
}

body#landing-group .landing-benefits .landing-benefits-ico.m-ico2:before {
  content: "";
  width: 108px;
  height: 30px;
  background: url("../../img/png/landing_benefits_arr1.png");
  position: absolute;
  top: 0;
  left: -77px;
}

body#landing-group .landing-benefits .landing-benefits-ico.m-ico3:before {
  content: "";
  width: 108px;
  height: 30px;
  background: url("../../img/png/landing_benefits_arr2.png");
  position: absolute;
  top: 40px;
  left: -77px;
}

body#landing-group .landing-benefits .landing-benefits-ico.m-ico4:before {
  content: "";
  width: 109px;
  height: 34px;
  background: url("../../img/png/landing_benefits_arr3.png");
  position: absolute;
  top: 0px;
  left: -77px;
}

body#landing-group .landing-benefits .landing-benefits-ico svg g {
  stroke: #00BF5F;
}

body#landing-group .landing-benefits .landing-benefits-ico1 {
  background-image: url("../../img/png/group-landing-benefits-ico1.png");
  width: 145px;
  height: 135px;
  position: absolute;
  top: 10px;
  left: 0%;
  opacity: 0.3;
}

body#landing-group .landing-benefits .landing-benefits-ico2 {
  background-image: url("../../img/png/group-landing-benefits-ico2.png");
  width: 68px;
  height: 70px;
  position: absolute;
  top: 35px;
  left: 52%;
  opacity: 0.3;
}

body#landing-group .landing-benefits .landing-benefits-ico3 {
  background-image: url("../../img/png/group-landing-benefits-ico3.png");
  width: 87px;
  height: 106px;
  position: absolute;
  top: 85px;
  right: 10%;
  opacity: 0.3;
}

body#landing-group .landing-benefits .landing-benefits-ico4 {
  background-image: url("../../img/png/group-landing-benefits-ico4.png");
  width: 45px;
  height: 46px;
  position: absolute;
  bottom: 55px;
  left: 13%;
  opacity: 0.3;
}

body#landing-group .landing-benefits .landing-benefits-ico5 {
  background-image: url("../../img/png/group-landing-benefits-ico5.png");
  width: 92px;
  height: 111px;
  position: absolute;
  bottom: 10px;
  right: 35%;
  opacity: 0.3;
}

body#landing-group .landing-review .landing-review-title:before {
  background: #00BF5F;
}

body#landing-group .landing-partners-ico1 {
  background-image: url("../../img/png/group-landing-partners-ico1.png");
  width: 103px;
  height: 106px;
  position: absolute;
  top: 45px;
  left: 13%;
  opacity: 0.3;
}

body#landing-group .landing-partners-ico2 {
  background-image: url("../../img/png/group-landing-partners-ico2.png");
  width: 45px;
  height: 46px;
  position: absolute;
  top: 110px;
  right: 35%;
  opacity: 0.3;
}

body#landing-group .landing-partners-ico3 {
  background-image: url("../../img/png/group-landing-partners-ico3.png");
  width: 92px;
  height: 111px;
  position: absolute;
  top: 30px;
  right: 20px;
  opacity: 0.3;
}

body#landing-group .landing-partners-ico4 {
  background-image: url("../../img/png/group-landing-partners-ico4.png");
  width: 100px;
  height: 94px;
  position: absolute;
  bottom: 195px;
  left: 10%;
  opacity: 0.3;
}

body#landing-group .landing-partners-ico5 {
  background-image: url("../../img/png/group-landing-partners-ico5.png");
  width: 48px;
  height: 58px;
  position: absolute;
  bottom: 170px;
  left: 43%;
  opacity: 0.3;
}

body#landing-group .landing-partners-ico6 {
  background-image: url("../../img/png/group-landing-partners-ico6.png");
  width: 44px;
  height: 45px;
  position: absolute;
  bottom: 210px;
  right: 10%;
  opacity: 0.3;
}

body#landing-group footer {
  background: #363636 url("../../img/png/group-landing-footer-bg.png") 0 0px repeat;
}

body#landing-group footer .footer-blanding-nav a {
  color: #fff;
}

body#landing-group footer .footer-blanding-nav a:hover {
  color: #00BF5F;
}

body#landing-group.m-mobile header {
  border-bottom: 1px solid #00BF5F;
  background: rgba(255, 255, 255, 0.99);
}

body#landing-group.m-mobile .landing-home {
  margin-top: 4px;
}

body#landing-group.m-mobile .landing-nav {
  margin: 0;
  border-top: 1px solid #00BF5F;
}

body#landing-group.m-mobile .landing-nav li {
  display: block;
  margin-left: 0;
}

body#landing-group.m-mobile .landing-nav a {
  color: #4A4A4A;
}

body#landing-group.m-mobile .landing-nav a.is-active {
  color: #FF3A47;
}

body#landing-group.m-mobile .landing-nav a:hover {
  color: #FF3A47;
}

body#landing-group.m-mobile .create-campain {
  box-shadow: inset 0 -2px 0 #03A352;
}

body#landing-group.m-mobile #section0 {
  height: 400px;
  min-height: 400px;
  line-height: 400px;
  overflow: hidden;
}

body#landing-group.m-mobile #section0 .landing-slider-i {
  display: block;
  padding-top: 100px;
  margin-top: 0;
  line-height: 1;
  position: relative;
}

body#landing-group.m-mobile #section0 .landing-slider-i:before {
  width: 340px;
  height: 370px;
  background-size: 340px 370px;
  right: 0px;
  margin-top: -85px;
}

body#landing-group.m-mobile #section0 .landing-next-slide, body#landing-group.m-mobile #section0 .landing-slider-ico {
  display: none;
}

body#landing-group.m-mobile #section0 .landing-slider-text {
  width: 390px;
  padding-left: 10px;
  font-weight: 400;
  position: relative;
  z-index: 100;
}

body#landing-group.m-mobile #section0 .landing-slider-text p {
  font-size: 13px;
}

body#landing-group.m-mobile #section0 .landing-slider-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  color: #4A4A4A;
}

body#landing-group.m-mobile #section0 .landing-slider-title:before, body#landing-group.m-mobile #section0 .landing-slider-title:after {
  content: none;
}

body#landing-group.m-mobile #section0 .landing-slider-title .landing-slider-title-line1 {
  display: none;
}

body#landing-group.m-mobile #section0 .landing-slider-row {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

body#landing-group.m-mobile #section0 .landing-slider-row .landing-slider-list {
  font-size: 11px;
}

body#landing-group.m-mobile #section0 .landing-slider-row .landing-slider-list a {
  text-transform: uppercase;
}

body#landing-group.m-mobile #section0 .landing-slider-row .landing-slider-btn {
  padding: 9px 24px 11px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 800;
  box-shadow: inset 0 -2px 0 #03A352;
}

body#landing-group.m-mobile #section1 {
  margin-bottom: 0;
  padding-bottom: 60px;
  text-align: center;
}

body#landing-group.m-mobile #section1 .landing-video-l {
  width: 100%;
  margin-bottom: 30px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

body#landing-group.m-mobile #section1 .landing-video-l .landing-video-col1 {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

body#landing-group.m-mobile #section1 .landing-video-l .landing-video-descr {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
}

body#landing-group.m-mobile #section1 .landing-video-l .landing-video-col2 {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto 30px;
}

body#landing-group.m-mobile #section1 .landing-video-l .landing-video-title {
  padding: 40px 0 0;
  font-size: 20px;
  margin-bottom: 50px;
}

body#landing-group.m-mobile #section1 .landing-video-ico1 {
  background: url("../img/png/group_landing_anim_ico1.png");
  width: 60px;
  height: 66px;
  background-size: 60px 66px;
  bottom: 30px;
  right: auto;
  top: auto;
  left: 12%;
  opacity: 0.3;
}

body#landing-group.m-mobile #section1 .landing-video-ico2 {
  background: url("../img/png/group_landing_anim_ico2.png");
  width: 47px;
  height: 45px;
  background-size: 47px 45px;
  top: 30px;
  left: auto;
  right: 18%;
  opacity: 0.3;
}

body#landing-group.m-mobile #section1 .landing-video-ico3 {
  background: url("../img/png/group_landing_anim_ico3.png");
  width: 60px;
  height: 66px;
  background-size: 60px 66px;
  left: auto;
  top: auto;
  bottom: 162px;
  right: 4%;
  opacity: 0.3;
}

body#landing-group.m-mobile #section2 {
  padding-left: 20px;
  padding-right: 20px;
}

body#landing-group.m-mobile #section2 .landing-benefits-ico1 {
  width: 65px;
  height: 60px;
  background-size: 65px 60px;
  top: auto;
  bottom: -62px;
  left: 22%;
  opacity: 0.3;
}

body#landing-group.m-mobile #section2 .landing-benefits-ico2 {
  width: 45px;
  height: 43px;
  background-size: 45px 43px;
  top: 76px;
  bottom: auto;
  left: 2px;
  opacity: 0.3;
}

body#landing-group.m-mobile #section2 .landing-benefits-ico3 {
  width: 53px;
  height: 61px;
  background-size: 53px 61px;
  top: -44px;
  right: 42%;
  opacity: 0.3;
}

body#landing-group.m-mobile #section2 .landing-benefits-ico4 {
  width: 53px;
  height: 52px;
  background-size: 53px 52px;
  opacity: 0.3;
  right: 0;
  left: auto;
  bottom: -30px;
}

body#landing-group.m-mobile #section2 .landing-benefits-meta {
  font-size: 20px;
}

body#landing-group.m-mobile #section2 ul {
  width: 100%;
}

body#landing-group.m-mobile #section2 ul li {
  width: 24%;
  padding-left: 1%;
  position: relative;
  text-align: left;
}

body#landing-group.m-mobile #section2 ul li:first-child:before {
  content: none;
}

body#landing-group.m-mobile #section2 ul li:before {
  content: "";
  width: 60%;
  height: 0;
  border-bottom: 2px dashed #00BF5F;
  position: absolute;
  top: 22px;
  left: -30%;
  right: 0;
}

body#landing-group.m-mobile #section2 .landing-benefits-title {
  padding-right: 0;
  text-align: center;
  margin-bottom: 17px;
}

body#landing-group.m-mobile #section2 .landing-benefits-ico {
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0 auto 30px;
}

body#landing-group.m-mobile #section2 .landing-benefits-ico:before {
  content: none;
}

body#landing-group.m-mobile #section2 .landing-benefits-ico svg {
  width: 100%;
  height: 100%;
}

body#landing-group.m-mobile #section4 .landing-partners {
  margin: 80px auto 120px;
}

body#landing-group.m-mobile #section4 .landing-partners .landing-partners-item-descr {
  margin: 0 -100px 35px;
  font-size: 18px;
  line-height: 1.4;
}

body#landing-group.m-mobile #section4 .landing-partners-ico1, body#landing-group.m-mobile #section4 .landing-partners-ico2, body#landing-group.m-mobile #section4 .landing-partners-ico3, body#landing-group.m-mobile #section4 .landing-partners-ico4, body#landing-group.m-mobile #section4 .landing-partners-ico5, body#landing-group.m-mobile #section4 .landing-partners-ico6 {
  display: none;
}

body#landing-group.m-mobile #section4 footer {
  position: static;
}

@media only screen and (max-width: 767px) {
  body#landing-group.m-mobile #section0 .landing-slider-i:before {
    right: -100px;
    width: 300px;
    height: 330px;
    background-size: 300px 330px;
  }

  body#landing-group.m-mobile #section0 .landing-slider-text {
    width: 300px;
  }

  body#landing-group.m-mobile #section1 .landing-video-ico1, body#landing-group.m-mobile #section1 .landing-video-ico2, body#landing-group.m-mobile #section1 .landing-video-ico3 {
    display: none;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-ico1, body#landing-group.m-mobile #section2 .landing-benefits-ico2, body#landing-group.m-mobile #section2 .landing-benefits-ico3, body#landing-group.m-mobile #section2 .landing-benefits-ico4 {
    display: none;
  }

  body#landing-group.m-mobile #section2 ul li {
    width: 49%;
    margin-bottom: 20px;
  }

  body#landing-group.m-mobile #section2 ul li:before {
    content: none;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-meta {
    width: 100%;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-top {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-top:before, body#landing-group.m-mobile #section2 .landing-benefits-top:after {
    content: "";
    display: table;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-top:after {
    clear: both;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-top .landing-benefits-ico {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-top .landing-benefits-title {
    max-width: 150px;
    margin-bottom: 0;
    padding-right: 0;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: left;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-content {
    font-size: 13px;
    line-height: 18px;
  }

  body#landing-group.m-mobile #section4 .landing-partners-ico1, body#landing-group.m-mobile #section4 .landing-partners-ico2, body#landing-group.m-mobile #section4 .landing-partners-ico3, body#landing-group.m-mobile #section4 .landing-partners-ico4 {
    display: none;
  }

  body#landing-group.m-mobile #section4 .landing-partners {
    margin: 60px auto 60px;
  }

  body#landing-group.m-mobile #section4 .landing-partners .landing-partners-i .js-partners-next {
    right: -10px;
  }

  body#landing-group.m-mobile #section4 .landing-partners .landing-partners-i .js-partners-prev {
    left: -10px;
  }

  body#landing-group.m-mobile #section4 .landing-partners .landing-partners-items {
    width: 440px;
  }

  body#landing-group.m-mobile #section4 .landing-partners .landing-partners-items .landing-partners-item-descr {
    font-size: 13px;
  }

  body#landing-group.m-mobile #section4 footer {
    padding-bottom: 50px;
  }

  body#landing-group.m-mobile #section4 footer .footer-l {
    width: 100%;
  }

  body#landing-group.m-mobile #section4 footer .footer-col1 {
    width: 105px;
    margin-right: 30px;
  }

  body#landing-group.m-mobile #section4 footer .footer-col4 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  body#landing-group.m-mobile #section4 footer .footer-col4 .footer-blanding-nav {
    width: 100%;
  }

  body#landing-group.m-mobile #section4 footer .footer-col4 .footer-blanding-nav:before, body#landing-group.m-mobile #section4 footer .footer-col4 .footer-blanding-nav:after {
    content: "";
    display: table;
  }

  body#landing-group.m-mobile #section4 footer .footer-col4 .footer-blanding-nav:after {
    clear: both;
  }

  body#landing-group.m-mobile #section4 footer .footer-col4 .footer-blanding-nav li {
    width: 33.33333%;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: center;
  }

  body#landing-group.m-mobile #section4 footer .footer-col4 .footer-blanding-nav li a {
    display: block;
    height: 100%;
    line-height: 34px;
    background: #9B9B9B;
  }

  body#landing-group.m-mobile #section4 footer .footer-col4 .footer-blanding-nav li a:hover {
    background: #D8D8D8;
    color: #fff;
  }

  body#landing-group.m-mobile #section4 footer .footer-col4 .footer-blanding-nav li a:hover span {
    text-decoration: none;
  }

  body#landing-group.m-mobile #section4 footer .footer-col2 .footer-blanding-nav li {
    opacity: 0;
    position: relative;
    z-index: -1;
  }

  body#landing-group.m-mobile #section4 footer .footer-col3 {
    float: right;
  }
}

@media only screen and (max-width: 480px) {
  body#landing-group.m-mobile #section0 .landing-slider-i:before {
    opacity: 0.25;
  }

  body#landing-group.m-mobile #section0 .landing-slider-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  body#landing-group.m-mobile #section0 .landing-slider-text {
    margin-bottom: 90px;
  }

  body#landing-group.m-mobile #section1 .landing-video-l .landing-video-col2 {
    margin-bottom: 20px;
  }

  body#landing-group.m-mobile #section1 .landing-video-l .landing-video-title {
    margin-bottom: 30px;
  }

  body#landing-group.m-mobile #section1 .landing-video-l .landing-video-title:before {
    bottom: -10px;
  }

  body#landing-group.m-mobile #section2 {
    overflow: hidden;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-meta {
    margin-bottom: 30px;
    font-size: 18px;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-meta:before {
    bottom: -10px;
  }

  body#landing-group.m-mobile #section2 ul li {
    width: 100%;
    padding-left: 0;
    margin-bottom: 35px;
    background: #fff;
    z-index: 10;
  }

  body#landing-group.m-mobile #section2 ul li:last-child .landing-benefits-ico:before {
    content: none;
  }

  body#landing-group.m-mobile #section2 ul li:first-child .landing-benefits-top {
    font-size: 13px;
  }

  body#landing-group.m-mobile #section2 ul li:first-child .landing-benefits-ico:before {
    content: none;
  }

  body#landing-group.m-mobile #section2 ul li:first-child .landing-benefits-ico:after {
    content: "";
    width: 0px;
    height: 100px;
    min-height: 100px;
    border-left: 2px dashed #00BF5F;
    background: transparent;
    position: absolute;
    top: 35px;
    left: 15px;
    bottom: -135px;
    display: inline-block;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-top {
    font-size: 0;
    height: auto;
    line-height: 1;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-top .landing-benefits-title {
    max-width: 100%;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-ico {
    margin-right: 8px;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-ico:before {
    content: "";
    width: 0px;
    height: auto;
    border-left: 2px dashed #00BF5F;
    background: transparent;
    top: 35px;
    left: 15px;
    bottom: -135px;
  }

  body#landing-group.m-mobile #section2 .landing-benefits-content {
    padding-left: 38px;
  }

  body#landing-group.m-mobile #section3 {
    height: 330px;
  }

  body#landing-group.m-mobile #section3 .slick-dots {
    bottom: 45px;
    right: auto;
    margin-right: 0;
    left: 50%;
    margin-left: -140px;
  }

  body#landing-group.m-mobile #section3 .slick-dots li {
    margin-left: 20px;
  }

  body#landing-group.m-mobile #section3 .landing-review-i {
    text-align: center;
  }

  body#landing-group.m-mobile #section3 .landing-review-wrap {
    width: 260px;
    height: 330px;
    margin-right: 0;
    display: inline-block;
    float: none;
  }

  body#landing-group.m-mobile #section3 .landing-review-content {
    margin: 20px auto 0;
    text-align: center;
  }

  body#landing-group.m-mobile #section3 .landing-review-content .landing-review-content-i {
    width: 220px;
    height: 250px;
    padding: 15px 30px;
    display: inline-block;
    float: none;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.36);
    text-align: left;
  }

  body#landing-group.m-mobile #section3 .landing-review-items {
    height: 330px;
  }

  body#landing-group.m-mobile #section3 .landing-review-item {
    height: 330px;
  }

  body#landing-group.m-mobile #section3 .landing-review-item-bg {
    height: 330px;
    background-position: 10% 50%;
  }

  body#landing-group.m-mobile #section4 .landing-partners .landing-partners-items {
    width: 280px;
  }

  body#landing-group.m-mobile #section4 .landing-partners .landing-partners-items .landing-partners-item img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  body#landing-group.m-mobile #section4 .landing-partners .landing-partners-item-descr {
    margin: 0 0px 10px;
    opacity: 1;
  }

  body#landing-group.m-mobile #section4 footer .footer-col2 {
    display: none;
  }

  body#landing-group.m-mobile #section4 footer .footer-col3 {
    float: right;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 320px) {
  body#landing-group.m-mobile #section0 .landing-slider-text {
    padding-left: 0;
  }

  body#landing-group.m-mobile #section1 .landing-video-l {
    padding-left: 10px;
    padding-right: 10px;
  }

  body#landing-group.m-mobile #section2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
