.wishroundBtn {
  display: inline-block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  color: #484748;
}

.wishroundBtn.block {
  display: block;
}

.wishroundBtn .icon-wr {
  display: inline-block;
  background-size: 100% auto;
  background: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-green_v1.svg) no-repeat;
  background-position: 0 3px;
  height: 20px;
  margin-right: 10px;
  padding-top: 3px;
  width: 20px;
}
.wishroundBtn span {
  display: inline-block;
  font-size: 16px;
  padding: 5px 0;
  vertical-align: top;
  font-family: Arial !important;
}
.wishroundBtn:hover {
  background: #00bf5f;
  border: 1px solid #00bf5f;
  color: #fff;
}
.wishroundBtn:hover .icon-wr {
  background-image: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-white_v1.svg);
}
.wishroundBtn.m-no-border {
  border-radius: 0px;
}
.wishroundBtn.m-black {
  color: #111;
  border-color: #111;
}
.wishroundBtn.m-black:hover {
  color: #fff;
  background: #111;
}
.wishroundBtn.m-black .icon-wr {
  background-image: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-black_v1.svg);
}
.wishroundBtn.m-black:hover .icon-wr {
  background-image: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-white_v1.svg);
}


.wishroundBtn.m-katalogmarzen {
  clear: both; /* clear float */
  margin-bottom: 20px; /* need in mobile version */
  display: block;
  height: 30px;
  line-height: 31px;
  padding: 0 20px;
  background: #4b1e70;
  border: none;
  border-radius: 0;
  color: #fff;
}
.wishroundBtn.m-katalogmarzen .icon-wr {
  background-image: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-white_v1.svg);
  background-position: 0px 0px;
  margin-top: 4px;
}
.wishroundBtn.m-katalogmarzen span {
  font-size: 14px;
  padding: 0;
}
.wishroundBtn.m-katalogmarzen:hover {
  background: #ff8400;
}


.wishroundBtn.m-home-form {
  margin-top: 20px;
  margin-bottom: 18px;
  text-decoration: none;
  display: block;
  height: 30px;
  line-height: 31px;
  padding: 0 20px;
  background: #ff8400;
  border: none;
  border-radius: 3px;
  color: #fff;
}
.wishroundBtn.m-home-form .icon-wr {
  background-image: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-white_v1.svg);
  background-position: 0px 0px;
  margin-top: 4px;
}
.wishroundBtn.m-home-form span {
  font-size: 14px;
  padding: 0;
  color: #fff;
}
.wishroundBtn.m-home-form:hover {
  background: #4b1e70;
}

/* */
.wishroundBtn.m-blackEstyl {
  display: block;
  width: 166.766px;
  margin: 15px 0 0 26px;
  padding: 6px 7px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #34364A;
  border-color: #34364A;
}
.wishroundBtn.m-blackEstyl span {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  font-weight: 500;
}
.wishroundBtn.m-blackEstyl:hover {
  color: #fff;
  background: #FF1E48;
  border-color: #FF1E48;
}
.wishroundBtn.m-blackEstyl .icon-wr {
  background-image: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-black_v2.svg);
}
.wishroundBtn.m-blackEstyl:hover .icon-wr {
  background-image: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-white_v1.svg);
}